.audit/n8n-workflows/origenlab-blog-generator-v8.5-production.json
{
  "name": "OrigenLab Blog Generator v8.5 PRODUCTION",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "days", "triggerAtHour": 9, "daysInterval": 2}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [480, 300],
      "id": "schedule-trigger",
      "name": "Cada 2 Dias 9AM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [480, 480],
      "id": "manual-trigger",
      "name": "Ejecucion Manual"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const empresas = [\n  {\n    id: 'origins-private-security',\n    nombre: 'ORIGINS Private Security',\n    slugPerfil: 'seguridad-condominios-cdmx',\n    especialidad: 'Seguridad para Condominios',\n    ubicacion: 'CDMX y Estado de Mexico',\n    telefono: '+52-55-3025-5580',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 245,\n    servicios: ['Guardias certificados SSC', 'Central de monitoreo 24/7', 'Tecnologia GPS', 'Respuesta en 3 minutos'],\n    diferenciadores: ['Respuesta garantizada en 3 minutos', 'Guardias 100% certificados SSC'],\n    certificaciones: ['SSC', 'NOM-001', 'ISO 9001'],\n    cobertura: ['CDMX', 'Estado de Mexico', 'Queretaro']\n  },\n  {\n    id: 'seprico',\n    nombre: 'SEPRICO',\n    slugPerfil: 'seguridad-condominios-seprico',\n    especialidad: 'Seguridad Especializada para Condominios',\n    ubicacion: 'CDMX - Polanco',\n    telefono: '+52-56-3628-2480',\n    experiencia: '10+ anos',\n    rating: 4.8,\n    resenas: 428,\n    servicios: ['Vigilancia 24/7', 'Control biometrico', 'Monitoreo electronico', 'Camaras HD'],\n    diferenciadores: ['Evaluacion de seguridad gratuita', '200+ condominios protegidos'],\n    certificaciones: ['SSC', 'CONOCER'],\n    cobertura: ['CDMX', 'Estado de Mexico']\n  },\n  {\n    id: 'seguridad-eventos',\n    nombre: 'Seguridad para Eventos',\n    slugPerfil: 'seguridad-eventos-profesional',\n    especialidad: 'Seguridad Integral para Eventos Masivos',\n    ubicacion: 'CDMX - Santa Fe',\n    telefono: '+52-55-1234-5600',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 615,\n    servicios: ['Control de acceso eventos', 'Vigilancia perimetral', 'Seguridad VIP', 'Gestion de multitudes'],\n    diferenciadores: ['5,000+ eventos realizados', 'Especialistas en conciertos'],\n    certificaciones: ['SSC', 'Proteccion Civil', 'NOM-002'],\n    cobertura: ['Nacional']\n  },\n  {\n    id: 'seguridadprivadamx',\n    nombre: 'SeguridadPrivadaMX',\n    slugPerfil: 'seguridad-condominios-inteligente',\n    especialidad: 'Seguridad Inteligente con Tecnologia Propia',\n    ubicacion: 'CDMX - Benito Juarez',\n    telefono: '+52-55-1234-5678',\n    experiencia: '12+ anos',\n    rating: 4.9,\n    resenas: 312,\n    servicios: ['App movil residentes', 'Camaras HD remotas', 'Control accesos inteligente', 'Guardias certificados'],\n    diferenciadores: ['Tecnologia 100% propia', 'App movil control'],\n    certificaciones: ['SSC', 'ISO 27001', 'CONOCER'],\n    cobertura: ['CDMX', 'Estado de Mexico', 'Guadalajara']\n  }\n];\n\nconst imagenes = [\n  {archivo: 'control-acceso-residencial-caseta.webp', alt: 'Control de acceso residencial con caseta de vigilancia'},\n  {archivo: 'guardia-caseta-entrada-residencial.webp', alt: 'Guardia de seguridad en caseta de entrada'},\n  {archivo: 'vigilante-fraccionamiento-residencial.webp', alt: 'Vigilante profesional en fraccionamiento'},\n  {archivo: 'caseta-moderna-control-acceso.webp', alt: 'Caseta moderna de control de acceso'},\n  {archivo: 'monitoreo-camaras-vigilancia-24hrs.webp', alt: 'Centro de monitoreo de camaras 24 horas'}\n];\n\nconst empresa = empresas[Math.floor(Math.random() * empresas.length)];\nconst imgs = imagenes.sort(() => Math.random() - 0.5).slice(0, 4);\nconst baseSlug = empresa.nombre.toLowerCase().replace(/[^a-z0-9\\s]/g, '').replace(/\\s+/g, '-');\nconst slug = baseSlug + '-seguridad-privada-mexico';\n\nreturn [{\n  json: {\n    empresa: empresa,\n    slug: slug.substring(0, 70),\n    img1: imgs[0],\n    img2: imgs[1],\n    img3: imgs[2],\n    img4: imgs[3]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380],
      "id": "selector",
      "name": "Seleccionar Empresa"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst e = input.empresa;\nconst d = input;\n\nconst prompt = `GENERA UN ARTICULO SEO EXTENSO Y PROFESIONAL.\n\nIMPORTANTE: El contenido HTML debe tener MINIMO 15,000 caracteres. Escribe parrafos largos y detallados.\n\nEMPRESA:\n- Nombre: ${e.nombre}\n- Especialidad: ${e.especialidad}\n- Ubicacion: ${e.ubicacion}\n- Experiencia: ${e.experiencia}\n- Rating: ${e.rating}/5.0 (${e.resenas} resenas)\n- Servicios: ${e.servicios.join(', ')}\n- Diferenciadores: ${e.diferenciadores.join(', ')}\n- Certificaciones: ${e.certificaciones.join(', ')}\n- Cobertura: ${e.cobertura.join(', ')}\n\nIMAGENES (incluir en el contenido):\n1. ${'<figure class=\"article-image\"><img src=\"../img/seguridad-privada/' + d.img2.archivo + '\" alt=\"' + d.img2.alt + '\" loading=\"lazy\"><figcaption>Servicios de seguridad</figcaption></figure>'}\n2. ${('<figure class=\"article-image\"><img src=\"../img/seguridad-privada/' + d.img3.archivo + '\" alt=\"' + d.img3.alt + '\" loading=\"lazy\"><figcaption>Vigilancia profesional</figcaption></figure>')}\n3. ${('<figure class=\"article-image\"><img src=\"../img/seguridad-privada/' + d.img4.archivo + '\" alt=\"' + d.img4.alt + '\" loading=\"lazy\"><figcaption>Tecnologia avanzada</figcaption></figure>')}\n\nESTRUCTURA OBLIGATORIA (cada seccion con 3-4 parrafos de 150+ palabras):\n1. Introduccion (article-lead) - 200+ palabras\n2. Panorama del sector de seguridad en Mexico - 400+ palabras\n3. Perfil de ${e.nombre} - 500+ palabras\n4. Servicios detallados - 600+ palabras con subsecciones\n5. Diferenciadores competitivos - 400+ palabras\n6. Metodologia de trabajo - 400+ palabras\n7. Casos de exito - 300+ palabras\n8. Cobertura geografica - 300+ palabras\n9. Proceso de contratacion - 300+ palabras\n10. FAQs (6 preguntas, cada respuesta 100+ palabras)\n11. Conclusion - 200+ palabras\n\nRESPONDE EN JSON:\n{\n  \"titulo\": \"Titulo SEO 55-60 chars\",\n  \"tituloCorto\": \"Max 25 chars\",\n  \"metaDescripcion\": \"155-160 chars\",\n  \"keywords\": \"seguridad privada Mexico, ${e.nombre.toLowerCase()}\",\n  \"tiempoLectura\": 25,\n  \"subtitulo\": \"Subtitulo descriptivo\",\n  \"imagenAlt\": \"${d.img1.alt}\",\n  \"tocItems\": [{\"id\": \"seccion-id\", \"titulo\": \"Titulo\"}],\n  \"faqs\": [{\"pregunta\": \"?\", \"respuesta\": \"...\"}],\n  \"contenido\": \"HTML COMPLETO CON TODAS LAS SECCIONES\"\n}`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    empresa: input.empresa,\n    slug: input.slug,\n    img1: input.img1,\n    img2: input.img2,\n    img3: input.img3,\n    img4: input.img4\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 380],
      "id": "prompt-builder",
      "name": "Construir Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un experto en SEO para seguridad privada en Mexico. Generas articulos de 3500+ palabras con HTML semantico. Respondes SOLO en JSON valido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 14000,\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 380],
      "id": "openai-request",
      "name": "OpenAI GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Construir Prompt').first().json;\n\ntry {\n  if (!response.choices || !response.choices[0] || !response.choices[0].message) {\n    throw new Error('Respuesta OpenAI invalida');\n  }\n  \n  const content = response.choices[0].message.content;\n  const articulo = JSON.parse(content);\n  \n  if (!articulo.titulo) throw new Error('Falta titulo');\n  if (!articulo.contenido) throw new Error('Falta contenido');\n  if (articulo.contenido.length < 3500) throw new Error('Contenido muy corto: ' + articulo.contenido.length + ' chars');\n\n  return [{\n    json: {\n      valido: true,\n      titulo: String(articulo.titulo).substring(0, 60),\n      tituloCorto: String(articulo.tituloCorto || articulo.titulo).substring(0, 25),\n      metaDescripcion: String(articulo.metaDescripcion).substring(0, 160),\n      keywords: String(articulo.keywords || 'seguridad privada Mexico'),\n      tiempoLectura: Number(articulo.tiempoLectura) || 20,\n      subtitulo: String(articulo.subtitulo || ''),\n      imagenAlt: String(articulo.imagenAlt || prevData.img1.alt),\n      tocItems: Array.isArray(articulo.tocItems) ? articulo.tocItems : [],\n      faqs: Array.isArray(articulo.faqs) ? articulo.faqs : [],\n      contenidoHTML: String(articulo.contenido),\n      contenidoLength: articulo.contenido.length,\n      slug: String(prevData.slug),\n      empresa: prevData.empresa,\n      img1: prevData.img1,\n      img2: prevData.img2,\n      img3: prevData.img3\n    }\n  }];\n} catch (error) {\n  const rawContent = response.choices && response.choices[0] && response.choices[0].message \n    ? String(response.choices[0].message.content).substring(0, 500) \n    : 'Sin contenido';\n  \n  return [{\n    json: {\n      valido: false,\n      error: String(error.message),\n      raw: rawContent\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 380],
      "id": "validator",
      "name": "Validar Respuesta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 380],
      "id": "if-valid",
      "name": "Es Valido"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const a = $input.first().json;\nconst e = a.empresa;\n\nlet tocHTML = '';\nif (a.tocItems && a.tocItems.length > 0) {\n  tocHTML = a.tocItems.map(function(t) {\n    return '<li><a href=\"#' + t.id + '\">' + t.titulo + '</a></li>';\n  }).join('\\n');\n}\n\nlet faqSchema = '';\nif (a.faqs && a.faqs.length > 0) {\n  const faqItems = a.faqs.map(function(f) {\n    const pregunta = String(f.pregunta).replace(/\"/g, '\\\\\"');\n    const respuesta = String(f.respuesta).replace(/\"/g, '\\\\\"').substring(0, 300);\n    return '{\"@type\":\"Question\",\"name\":\"' + pregunta + '\",\"acceptedAnswer\":{\"@type\":\"Answer\",\"text\":\"' + respuesta + '\"}}';\n  });\n  faqSchema = faqItems.join(',');\n}\n\nconst imgPath = 'img/seguridad-privada/' + a.img1.archivo;\n\nconst html = '<!DOCTYPE html>\\n<html lang=\"es-MX\">\\n<head>\\n  <meta charset=\"UTF-8\">\\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\\n  <title>' + a.titulo + ' | OrigenLab</title>\\n  <meta name=\"description\" content=\"' + a.metaDescripcion + '\">\\n  <meta name=\"keywords\" content=\"' + a.keywords + '\">\\n  <meta name=\"robots\" content=\"index, follow\">\\n  <meta property=\"og:type\" content=\"article\">\\n  <meta property=\"og:url\" content=\"https://origenlab.com/blog/' + a.slug + '.html\">\\n  <meta property=\"og:title\" content=\"' + a.titulo + '\">\\n  <meta property=\"og:description\" content=\"' + a.metaDescripcion + '\">\\n  <meta property=\"og:image\" content=\"https://origenlab.com/' + imgPath + '\">\\n  <link rel=\"canonical\" href=\"https://origenlab.com/blog/' + a.slug + '.html\">\\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap\" rel=\"stylesheet\">\\n  <link rel=\"stylesheet\" href=\"../css/minimal-global.css\">\\n  <link rel=\"stylesheet\" href=\"../css/style.css\">\\n  <link rel=\"stylesheet\" href=\"../css/cta-global.css\">\\n  <link rel=\"stylesheet\" href=\"assets/css/blog.css\">\\n  <link rel=\"stylesheet\" href=\"assets/css/article.css\">\\n  <script type=\"application/ld+json\">\\n  {\"@context\":\"https://schema.org\",\"@type\":\"Article\",\"headline\":\"' + a.titulo + '\",\"description\":\"' + a.metaDescripcion + '\",\"image\":\"https://origenlab.com/' + imgPath + '\",\"author\":{\"@type\":\"Organization\",\"name\":\"OrigenLab\"},\"publisher\":{\"@type\":\"Organization\",\"name\":\"OrigenLab\"}}\\n  </script>\\n  <script type=\"application/ld+json\">\\n  {\"@context\":\"https://schema.org\",\"@type\":\"FAQPage\",\"mainEntity\":[' + faqSchema + ']}\\n  </script>\\n</head>\\n<body>\\n\\n  <header class=\"header\">\\n    <div class=\"container\">\\n      <div class=\"nav-wrapper\">\\n        <a href=\"../index.html\" class=\"logo\"><img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"180\" height=\"40\"></a>\\n        <nav>\\n          <a href=\"../categorias/categorias.html\" class=\"nav-link\">Categorias</a>\\n          <a href=\"../blog.html\" class=\"nav-link active\">Blog</a>\\n        </nav>\\n      </div>\\n    </div>\\n  </header>\\n\\n  <div class=\"breadcrumbs-wrapper\">\\n    <div class=\"container\">\\n      <nav aria-label=\"Breadcrumb\" class=\"breadcrumbs\">\\n        <ol>\\n          <li><a href=\"../index.html\">Inicio</a></li>\\n          <li><a href=\"../blog.html\">Blog</a></li>\\n          <li><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></li>\\n          <li aria-current=\"page\">' + a.tituloCorto + '</li>\\n        </ol>\\n      </nav>\\n    </div>\\n  </div>\\n\\n  <article class=\"article-container\">\\n    <div class=\"container\" style=\"max-width: 1400px; padding: var(--space-xl) var(--space-md);\">\\n\\n      <header class=\"article-header\">\\n        <div class=\"article-header-image\">\\n          <figure class=\"article-featured-image\">\\n            <img src=\"../' + imgPath + '\" alt=\"' + a.imagenAlt + '\" loading=\"eager\" width=\"800\" height=\"450\">\\n          </figure>\\n        </div>\\n        <div class=\"article-header-content\">\\n          <div class=\"article-category-badge\"><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></div>\\n          <h1 class=\"article-title\">' + a.titulo + '</h1>\\n          <p class=\"article-subtitle\">' + a.subtitulo + '</p>\\n          <div class=\"article-meta-info\">\\n            <span class=\"article-reading-time\">' + a.tiempoLectura + ' min de lectura</span>\\n          </div>\\n        </div>\\n      </header>\\n\\n      <div class=\"article-layout\">\\n        <div class=\"article-content\">\\n          <nav class=\"article-toc\">\\n            <h2>Contenido del Articulo</h2>\\n            <ol>\\n              ' + tocHTML + '\\n            </ol>\\n          </nav>\\n\\n          ' + a.contenidoHTML + '\\n\\n          <div class=\"article-cta\">\\n            <h3>Buscas Seguridad Privada Profesional?</h3>\\n            <p>Conoce a ' + e.nombre + ' y obten una cotizacion personalizada</p>\\n            <a href=\"../categorias/seguridad-privada/' + e.slugPerfil + '.html\" class=\"btn-primary\">Ver Perfil de ' + e.nombre + '</a>\\n          </div>\\n        </div>\\n\\n        <aside class=\"article-sidebar\">\\n          <div class=\"sidebar-widget sidebar-empresa\">\\n            <h3 class=\"sidebar-widget-title\">Empresa Destacada</h3>\\n            <div class=\"empresa-card-mini\">\\n              <h4>' + e.nombre + '</h4>\\n              <div class=\"empresa-rating\">' + e.rating + '/5 (' + e.resenas + ' resenas)</div>\\n              <p>' + e.especialidad + '</p>\\n              <a href=\"../categorias/seguridad-privada/' + e.slugPerfil + '.html\" class=\"btn-primary\" style=\"width:100%;text-align:center;margin-top:1rem;\">Ver Perfil</a>\\n            </div>\\n          </div>\\n          <div class=\"sidebar-widget\">\\n            <h3 class=\"sidebar-widget-title\">Mas Empresas</h3>\\n            <a href=\"../categorias/seguridad-privada.html\" class=\"btn-secondary\" style=\"width:100%;text-align:center;\">Ver Todas</a>\\n          </div>\\n        </aside>\\n      </div>\\n\\n    </div>\\n  </article>\\n\\n  <section class=\"cta-section\">\\n    <div class=\"container\" style=\"max-width: 800px;\">\\n      <h2>Necesitas Seguridad Privada en Mexico?</h2>\\n      <p>Encuentra proveedores verificados y certificados</p>\\n      <div class=\"cta-botones\">\\n        <a href=\"../categorias/seguridad-privada.html\" class=\"btn-primary\">Ver Empresas</a>\\n        <a href=\"../blog.html\" class=\"btn-secondary\">Mas Articulos</a>\\n      </div>\\n    </div>\\n  </section>\\n\\n  <footer class=\"footer\" role=\"contentinfo\">\\n    <div class=\"container\">\\n      <div class=\"footer-main\">\\n        <div class=\"footer-column footer-brand\">\\n          <div class=\"footer-logo\"><a href=\"../index.html\"><img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"160\" height=\"36\" style=\"object-fit:contain;filter:brightness(0) invert(1);\"></a></div>\\n          <p class=\"footer-tagline\">Donde los Negocios Mexicanos se Conectan</p>\\n        </div>\\n        <div class=\"footer-column\"><h3 class=\"footer-column-title\">Categorias</h3><ul class=\"footer-links\"><li><a href=\"../categorias/eventos.html\">Eventos</a></li><li><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></li></ul></div>\\n        <div class=\"footer-column\"><h3 class=\"footer-column-title\">Empresa</h3><ul class=\"footer-links\"><li><a href=\"../blog.html\">Blog</a></li><li><a href=\"../index.html\">Inicio</a></li></ul></div>\\n      </div>\\n      <div class=\"footer-bottom\">\\n        <p class=\"footer-copyright\">OrigenLab. Todos los derechos reservados.</p>\\n      </div>\\n    </div>\\n  </footer>\\n\\n  <script>\\n    document.querySelectorAll(\".faq-question\").forEach(function(btn) {\\n      btn.addEventListener(\"click\", function() {\\n        var item = btn.parentElement;\\n        var isActive = item.classList.contains(\"active\");\\n        document.querySelectorAll(\".faq-item\").forEach(function(i) { i.classList.remove(\"active\"); });\\n        if (!isActive) item.classList.add(\"active\");\\n        btn.setAttribute(\"aria-expanded\", !isActive);\\n      });\\n    });\\n  </script>\\n\\n</body>\\n</html>';\n\nconst resultado = {\n  html: html,\n  ruta: 'blog/' + a.slug + '.html',\n  titulo: a.titulo,\n  extracto: a.metaDescripcion,\n  tiempoLectura: a.tiempoLectura,\n  slug: a.slug,\n  imgPrincipal: a.img1.archivo,\n  empresaNombre: e.nombre,\n  empresaSlug: e.slugPerfil,\n  keywords: a.keywords,\n  contenidoLength: a.contenidoLength,\n  faqCount: a.faqs ? a.faqs.length : 0\n};\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 280],
      "id": "html-builder",
      "name": "Construir HTML"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "Origenlab",
        "repository": "ORIGENLAB",
        "filePath": "={{ $json.ruta }}",
        "fileContent": "={{ $json.html }}",
        "commitMessage": "=feat(blog): {{ $json.empresaNombre }} - {{ $json.titulo }}",
        "additionalParameters": {
          "branch": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2060, 280],
      "id": "github-upload",
      "name": "GitHub Subir HTML",
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "Origenlab",
        "repository": "ORIGENLAB",
        "filePath": "blog/data/articulos.json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2280, 280],
      "id": "github-get-json",
      "name": "GitHub Get JSON",
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const artData = $('Construir HTML').first().json;\nconst fileData = $input.first().json;\n\nlet articulos = { version: '3.0', articulos: [] };\n\ntry {\n  const decoded = Buffer.from(fileData.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n  articulos = JSON.parse(decoded);\n} catch (e) {\n  articulos = { version: '3.0', articulos: [] };\n}\n\nconst nuevoArticulo = {\n  id: artData.slug,\n  titulo: artData.titulo,\n  slug: artData.slug,\n  categoria: 'seguridad-privada',\n  categoriaNombre: 'Seguridad Privada',\n  extracto: artData.extracto,\n  imagen: 'img/seguridad-privada/' + artData.imgPrincipal,\n  tiempoLectura: artData.tiempoLectura,\n  destacado: false,\n  n8n: true,\n  version: '8.5',\n  empresa: artData.empresaNombre,\n  empresaSlug: artData.empresaSlug,\n  keywords: artData.keywords,\n  contenidoLength: artData.contenidoLength,\n  faqCount: artData.faqCount\n};\n\nconst existingIndex = articulos.articulos.findIndex(function(a) { return a.id === nuevoArticulo.id; });\nif (existingIndex >= 0) {\n  articulos.articulos[existingIndex] = nuevoArticulo;\n} else {\n  articulos.articulos.unshift(nuevoArticulo);\n}\n\nconst resultado = {\n  jsonContent: JSON.stringify(articulos, null, 2),\n  sha: fileData.sha,\n  slug: artData.slug,\n  titulo: artData.titulo,\n  empresaNombre: artData.empresaNombre,\n  contenidoLength: artData.contenidoLength,\n  faqCount: artData.faqCount,\n  totalArticulos: articulos.articulos.length\n};\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 280],
      "id": "json-updater",
      "name": "Actualizar JSON"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "Origenlab",
        "repository": "ORIGENLAB",
        "filePath": "blog/data/articulos.json",
        "fileContent": "={{ $json.jsonContent }}",
        "commitMessage": "=feat(blog): update articulos.json - {{ $json.empresaNombre }}",
        "additionalParameters": {
          "branch": "main",
          "sha": "={{ $json.sha }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2720, 280],
      "id": "github-update-json",
      "name": "GitHub Update JSON",
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('Actualizar JSON').first().json;\n\nconst mensaje = 'ARTICULO v8.5 PUBLICADO\\n\\n' +\n  'Empresa: ' + data.empresaNombre + '\\n' +\n  'Titulo: ' + data.titulo + '\\n\\n' +\n  'Contenido: ' + data.contenidoLength + ' chars\\n' +\n  'FAQs: ' + data.faqCount + '\\n' +\n  'Total articulos: ' + data.totalArticulos + '\\n\\n' +\n  'URL: https://origenlab.com/blog/' + data.slug + '.html';\n\nreturn [{ json: { mensaje: mensaje, slug: data.slug } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2940, 280],
      "id": "prepare-telegram",
      "name": "Preparar Mensaje"
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3160, 280],
      "id": "telegram-success",
      "name": "Telegram Exito",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "=ERROR v8.5: {{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1840, 500],
      "id": "telegram-error",
      "name": "Telegram Error",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Cada 2 Dias 9AM": {
      "main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]
    },
    "Ejecucion Manual": {
      "main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]
    },
    "Seleccionar Empresa": {
      "main": [[{"node": "Construir Prompt", "type": "main", "index": 0}]]
    },
    "Construir Prompt": {
      "main": [[{"node": "OpenAI GPT-4o", "type": "main", "index": 0}]]
    },
    "OpenAI GPT-4o": {
      "main": [[{"node": "Validar Respuesta", "type": "main", "index": 0}]]
    },
    "Validar Respuesta": {
      "main": [[{"node": "Es Valido", "type": "main", "index": 0}]]
    },
    "Es Valido": {
      "main": [
        [{"node": "Construir HTML", "type": "main", "index": 0}],
        [{"node": "Telegram Error", "type": "main", "index": 0}]
      ]
    },
    "Construir HTML": {
      "main": [[{"node": "GitHub Subir HTML", "type": "main", "index": 0}]]
    },
    "GitHub Subir HTML": {
      "main": [[{"node": "GitHub Get JSON", "type": "main", "index": 0}]]
    },
    "GitHub Get JSON": {
      "main": [[{"node": "Actualizar JSON", "type": "main", "index": 0}]]
    },
    "Actualizar JSON": {
      "main": [[{"node": "GitHub Update JSON", "type": "main", "index": 0}]]
    },
    "GitHub Update JSON": {
      "main": [[{"node": "Preparar Mensaje", "type": "main", "index": 0}]]
    },
    "Preparar Mensaje": {
      "main": [[{"node": "Telegram Exito", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {"name": "blog"},
    {"name": "v8.5"},
    {"name": "production"}
  ]
}
