.audit/n8n-workflows/origenlab-blog-generator-v8.9-final.json
{
  "name": "OrigenLab Blog Generator v8.9 FINAL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "days", "triggerAtHour": 9, "daysInterval": 2}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [480, 300],
      "id": "schedule-trigger",
      "name": "Cada 2 Dias 9AM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [480, 480],
      "id": "manual-trigger",
      "name": "Ejecucion Manual"
    },
    {
      "parameters": {
        "jsCode": "const empresas = [\n  {\n    id: 'origins-private-security',\n    nombre: 'ORIGINS Private Security',\n    slugPerfil: 'seguridad-condominios-cdmx',\n    especialidad: 'Seguridad para Condominios',\n    ubicacion: 'CDMX y Estado de Mexico',\n    telefono: '+52-55-3025-5580',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 245,\n    servicios: ['Guardias certificados SSC', 'Central de monitoreo 24/7', 'Tecnologia GPS', 'Respuesta en 3 minutos', 'Control de accesos', 'Rondines fotograficos', 'Escoltas ejecutivos'],\n    diferenciadores: ['Respuesta garantizada en 3 minutos', 'Guardias 100% certificados SSC', 'Central de monitoreo propia', 'Tecnologia GPS para rondines'],\n    certificaciones: ['SSC', 'NOM-001', 'ISO 9001'],\n    cobertura: ['CDMX', 'Estado de Mexico', 'Queretaro']\n  },\n  {\n    id: 'seprico',\n    nombre: 'SEPRICO',\n    slugPerfil: 'seguridad-condominios-seprico',\n    especialidad: 'Seguridad Especializada para Condominios',\n    ubicacion: 'CDMX - Polanco',\n    telefono: '+52-56-3628-2480',\n    experiencia: '10+ anos',\n    rating: 4.8,\n    resenas: 428,\n    servicios: ['Vigilancia 24/7', 'Control biometrico', 'Monitoreo electronico', 'Camaras HD', 'Alarma perimetral', 'Gestion de visitantes', 'Rondines programados'],\n    diferenciadores: ['Evaluacion de seguridad gratuita', '200+ condominios protegidos', 'Control biometrico avanzado', 'Ubicacion en Polanco'],\n    certificaciones: ['SSC', 'CONOCER'],\n    cobertura: ['CDMX', 'Estado de Mexico']\n  },\n  {\n    id: 'seguridad-eventos',\n    nombre: 'Seguridad para Eventos',\n    slugPerfil: 'seguridad-eventos-profesional',\n    especialidad: 'Seguridad Integral para Eventos Masivos',\n    ubicacion: 'CDMX - Santa Fe',\n    telefono: '+52-55-1234-5600',\n    experiencia: '15+ anos',\n    rating: 4.9,\n    resenas: 615,\n    servicios: ['Control de acceso eventos', 'Vigilancia perimetral', 'Seguridad VIP', 'Gestion de multitudes', 'Coordinacion autoridades', 'Planes evacuacion', 'Personal femenino'],\n    diferenciadores: ['5,000+ eventos realizados', 'Especialistas en conciertos', 'Coordinacion con Proteccion Civil', 'Equipo de respuesta rapida'],\n    certificaciones: ['SSC', 'Proteccion Civil', 'NOM-002'],\n    cobertura: ['Nacional']\n  },\n  {\n    id: 'seguridadprivadamx',\n    nombre: 'SeguridadPrivadaMX',\n    slugPerfil: 'seguridad-condominios-inteligente',\n    especialidad: 'Seguridad Inteligente con Tecnologia Propia',\n    ubicacion: 'CDMX - Benito Juarez',\n    telefono: '+52-55-1234-5678',\n    experiencia: '12+ anos',\n    rating: 4.9,\n    resenas: 312,\n    servicios: ['App movil residentes', 'Camaras HD remotas', 'Control accesos inteligente', 'Guardias certificados', 'Reportes tiempo real', 'Visitas digitales', 'Precios transparentes'],\n    diferenciadores: ['Tecnologia 100% propia', 'App movil control', 'Cotizacion en 4 horas', 'Precios publicados'],\n    certificaciones: ['SSC', 'ISO 27001', 'CONOCER'],\n    cobertura: ['CDMX', 'Estado de Mexico', 'Guadalajara']\n  }\n];\n\nconst imagenesPorTema = {\n  condominios: [\n    {archivo: 'control-acceso-residencial-caseta.webp', alt: 'Control de acceso residencial con caseta de vigilancia en condominio'},\n    {archivo: 'guardia-caseta-entrada-residencial.webp', alt: 'Guardia de seguridad en caseta de entrada residencial'},\n    {archivo: 'vigilante-fraccionamiento-residencial.webp', alt: 'Vigilante profesional en fraccionamiento residencial'},\n    {archivo: 'caseta-moderna-control-acceso.webp', alt: 'Caseta moderna de control de acceso con tecnologia'},\n    {archivo: 'guardia-acceso-condominio-pluma.webp', alt: 'Guardia controlando acceso vehicular en condominio'}\n  ],\n  tecnologia: [\n    {archivo: 'monitoreo-camaras-vigilancia-24hrs.webp', alt: 'Centro de monitoreo de camaras de vigilancia 24 horas'},\n    {archivo: 'central-monitoreo-seguridad-remota.webp', alt: 'Central de monitoreo de seguridad remota profesional'},\n    {archivo: 'operador-videovigilancia-monitores.webp', alt: 'Operador de videovigilancia monitoreando pantallas'},\n    {archivo: 'centro-monitoreo-cctv-camaras.webp', alt: 'Centro de monitoreo CCTV con multiples camaras'}\n  ],\n  eventos: [\n    {archivo: 'seguridad-eventos-alfombra-roja.webp', alt: 'Personal de seguridad en evento de alfombra roja'},\n    {archivo: 'staff-seguridad-evento-corporativo.webp', alt: 'Staff de seguridad en evento corporativo'},\n    {archivo: 'equipo-seguridad-gala-convenciones.webp', alt: 'Equipo de seguridad para galas y convenciones'},\n    {archivo: 'personal-femenino-seguridad-eventos.webp', alt: 'Personal femenino de seguridad en eventos'}\n  ]\n};\n\nconst empresa = empresas[Math.floor(Math.random() * empresas.length)];\n\nvar tema = 'condominios';\nif (empresa.especialidad.indexOf('Eventos') !== -1) {\n  tema = 'eventos';\n} else if (empresa.especialidad.indexOf('Inteligente') !== -1) {\n  tema = 'tecnologia';\n}\n\nconst imgs = imagenesPorTema[tema].sort(function() { return Math.random() - 0.5; }).slice(0, 4);\n\nconst slug = empresa.nombre.toLowerCase().replace(/[^a-z0-9\\s]/g, '').replace(/\\s+/g, '-') + '-seguridad-privada-mexico';\n\nreturn [{\n  json: {\n    empresa: empresa,\n    slug: slug.substring(0, 80),\n    img1: imgs[0],\n    img2: imgs[1],\n    img3: imgs[2],\n    img4: imgs[3] || imgs[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380],
      "id": "selector",
      "name": "Seleccionar Empresa"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst e = d.empresa;\n\nconst img2Tag = '<figure class=\"article-image\"><img src=\"../img/seguridad-privada/' + d.img2.archivo + '\" alt=\"' + d.img2.alt + '\" loading=\"lazy\"><figcaption>Servicios profesionales de seguridad privada</figcaption></figure>';\nconst img3Tag = '<figure class=\"article-image\"><img src=\"../img/seguridad-privada/' + d.img3.archivo + '\" alt=\"' + d.img3.alt + '\" loading=\"lazy\"><figcaption>Soluciones integrales de vigilancia</figcaption></figure>';\nconst img4Tag = '<figure class=\"article-image\"><img src=\"../img/seguridad-privada/' + d.img4.archivo + '\" alt=\"' + d.img4.alt + '\" loading=\"lazy\"><figcaption>Tecnologia y personal capacitado</figcaption></figure>';\nconst linkResena = '<a href=\"../categorias/seguridad-privada/' + e.slugPerfil + '.html\" class=\"article-link\">Ver resena completa y opiniones verificadas de ' + e.nombre + '</a>';\n\nconst prompt = 'Eres un ESTRATEGA DE CONTENIDO SEO PREMIUM con especialidad en el sector de seguridad privada en Mexico. Tu objetivo es crear un articulo de NIVEL CORPORATIVO, optimizado para posicionamiento organico y conversion.\\n\\n' +\n'=== DATOS DE LA EMPRESA ===\\n' +\n'Nombre comercial: ' + e.nombre + '\\n' +\n'Especialidad: ' + e.especialidad + '\\n' +\n'Ubicacion: ' + e.ubicacion + '\\n' +\n'Experiencia: ' + e.experiencia + '\\n' +\n'Rating: ' + e.rating + '/5.0 (' + e.resenas + ' resenas verificadas)\\n' +\n'Contacto: ' + e.telefono + '\\n' +\n'Servicios: ' + e.servicios.join(', ') + '\\n' +\n'Diferenciadores: ' + e.diferenciadores.join(', ') + '\\n' +\n'Certificaciones: ' + e.certificaciones.join(', ') + '\\n' +\n'Cobertura: ' + e.cobertura.join(', ') + '\\n' +\n'URL Resena: ../categorias/seguridad-privada/' + e.slugPerfil + '.html\\n\\n' +\n'=== REQUISITOS SEO OBLIGATORIOS ===\\n\\n' +\n'1. TITULOS SEO AVANZADOS:\\n' +\n'   - TODOS los titulos (H2, H3, H4) deben ser LONG TAIL KEYWORDS\\n' +\n'   - PROHIBIDO titulos genericos como \"Servicios\" o \"Nuestra Metodologia\"\\n' +\n'   - CORRECTO: \"Servicios de Vigilancia 24/7 con Guardias Certificados SSC en CDMX\"\\n' +\n'   - CORRECTO: \"Como Funciona el Monitoreo Remoto con Tecnologia GPS en Tiempo Real\"\\n' +\n'   - Cada titulo debe contener keywords relevantes y describir el contenido\\n' +\n'   - Jerarquia ESTRICTA: H2 > H3 > H4 > H5 (sin saltos)\\n\\n' +\n'2. FORMATO PROFESIONAL DEL TEXTO:\\n' +\n'   - Usar <strong> para resaltar conceptos clave (3-4 por parrafo)\\n' +\n'   - Parrafos de 4-5 oraciones, bien espaciados\\n' +\n'   - Listas <ul> o <ol> para enumerar servicios, beneficios, pasos\\n' +\n'   - Subtitulos claros que guien la lectura\\n' +\n'   - El texto NO debe verse plano ni denso\\n\\n' +\n'3. USO INTELIGENTE DEL NOMBRE DE EMPRESA:\\n' +\n'   - Mencionar \"' + e.nombre + '\" maximo 1 vez cada 3 parrafos\\n' +\n'   - Usar sinonimos: \"esta empresa\", \"el proveedor\", \"la compania\", \"este equipo de profesionales\"\\n' +\n'   - Evitar repeticion excesiva, priorizar lectura natural\\n\\n' +\n'4. SIN SECCION DE CONCLUSION:\\n' +\n'   - NO incluir seccion titulada \"Conclusion\"\\n' +\n'   - Cerrar con un H2 potente y SEO como: \"Por Que Confiar en Profesionales Certificados para la Seguridad de tu Patrimonio\"\\n' +\n'   - Ultimo parrafo debe reforzar autoridad y confianza, incluir el link a la resena\\n\\n' +\n'5. INCLUIR LINK A RESENA (OBLIGATORIO):\\n' +\n'   - En el cierre del articulo incluir: ' + linkResena + '\\n\\n' +\n'=== IMAGENES A INSERTAR ===\\n' +\n'Despues de seccion 2: ' + img2Tag + '\\n' +\n'Despues de seccion 4: ' + img3Tag + '\\n' +\n'Despues de seccion 6: ' + img4Tag + '\\n\\n' +\n'=== ESTRUCTURA DEL ARTICULO ===\\n\\n' +\n'1. PARRAFO INICIAL (class=article-lead): 200+ palabras sobre la importancia de elegir seguridad privada profesional en Mexico.\\n\\n' +\n'2. SECCION (id=panorama-sector): H2 con keyword long tail sobre el mercado de seguridad privada en Mexico. Incluir estadisticas, regulaciones, tendencias.\\n\\n' +\n'3. SECCION (id=perfil-empresa): H2 con keyword sobre la trayectoria y experiencia. Historia, valores, equipo, compromiso. NO repetir nombre en cada oracion.\\n\\n' +\n'4. SECCION (id=servicios-profesionales): H2 con keyword sobre servicios. Cada servicio como H3 con descripcion detallada. Usar listas para beneficios.\\n\\n' +\n'5. SECCION (id=diferenciadores-competitivos): H2 sobre ventajas unicas. Tecnologia, certificaciones, garantias. Formato con negritas y listas.\\n\\n' +\n'6. SECCION (id=metodologia-implementacion): H2 sobre proceso de trabajo. Pasos numerados, control de calidad, capacitacion.\\n\\n' +\n'7. SECCION (id=testimonios-resultados): H2 sobre casos de exito. 3-4 testimonios en blockquote, resultados medibles.\\n\\n' +\n'8. SECCION (id=cobertura-geografica): H2 sobre zonas de servicio y tiempos de respuesta.\\n\\n' +\n'9. SECCION (id=proceso-contratacion): H2 sobre como contratar. Pasos, documentos, formas de pago.\\n\\n' +\n'10. SECCION CIERRE (id=confianza-profesionales): H2 SEO potente de cierre (NO \"Conclusion\"). Parrafo final con link a resena.\\n\\n' +\n'=== FORMATO JSON REQUERIDO ===\\n' +\n'{\\n' +\n'  \"slugArchivo\": \"guia-seguridad-privada-condominios-' + e.slugPerfil + '\",\\n' +\n'  \"titulo\": \"Titulo SEO 55-60 chars con long tail keyword principal\",\\n' +\n'  \"tituloCorto\": \"Max 25 chars para breadcrumb\",\\n' +\n'  \"metaDescripcion\": \"Meta description 155-160 chars, persuasiva, con CTA y keyword\",\\n' +\n'  \"keywords\": \"seguridad privada Mexico, vigilancia condominios, guardias certificados SSC, ' + e.nombre.toLowerCase() + '\",\\n' +\n'  \"tiempoLectura\": 25,\\n' +\n'  \"subtitulo\": \"Subtitulo que complementa y expande el titulo principal\",\\n' +\n'  \"imagenAlt\": \"' + d.img1.alt + '\",\\n' +\n'  \"tocItems\": [{\"id\": \"seccion-id\", \"titulo\": \"Titulo SEO de la seccion\"}],\\n' +\n'  \"contenido\": \"HTML completo con formato profesional, negritas, listas, jerarquia correcta\"\\n' +\n'}\\n\\n' +\n'IMPORTANTE: El contenido debe ser PREMIUM, profesional, listo para publicacion corporativa. Minimo 15,000 caracteres en contenido.';\n\nreturn [{\n  json: {\n    prompt: prompt,\n    empresa: d.empresa,\n    slug: d.slug,\n    img1: d.img1,\n    img2: d.img2,\n    img3: d.img3,\n    img4: d.img4\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 380],
      "id": "prompt",
      "name": "Construir Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Eres un Estratega de Contenido SEO Premium especializado en seguridad privada en Mexico. Produces articulos corporativos de alto impacto con titulos long tail SEO, formato profesional con negritas y listas, jerarquia de encabezados perfecta H2>H3>H4. NUNCA usas fechas, anos ni referencias temporales. NO incluyas seccion de Preguntas Frecuentes ni FAQs. Respondes UNICAMENTE en JSON valido.\"},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 16000,\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 380],
      "id": "openai",
      "name": "OpenAI GPT-4o",
      "credentials": {"openAiApi": {"id": "YOUR_OPENAI_CREDENTIAL_ID", "name": "OpenAI API"}}
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst datos = $('Construir Prompt').first().json;\n\ntry {\n  if (!response) {\n    throw new Error('Sin respuesta de OpenAI');\n  }\n  if (response.error) {\n    throw new Error('Error OpenAI: ' + JSON.stringify(response.error));\n  }\n  if (!response.choices || !response.choices[0] || !response.choices[0].message) {\n    throw new Error('Respuesta OpenAI sin choices: ' + JSON.stringify(response).substring(0, 200));\n  }\n  \n  var rawContent = response.choices[0].message.content;\n  if (!rawContent || typeof rawContent !== 'string') {\n    throw new Error('Contenido OpenAI vacio o no es string');\n  }\n  \n  var art = null;\n  try {\n    art = JSON.parse(rawContent);\n  } catch (parseErr) {\n    throw new Error('JSON invalido: ' + parseErr.message + ' - Raw: ' + rawContent.substring(0, 300));\n  }\n  \n  if (!art || typeof art !== 'object') {\n    throw new Error('OpenAI devolvio null o no es objeto');\n  }\n  if (!art.titulo) throw new Error('Falta titulo en JSON');\n  if (!art.contenido) throw new Error('Falta contenido en JSON');\n  if (art.contenido.length < 5000) throw new Error('Contenido muy corto: ' + art.contenido.length + ' chars (minimo 5000)');\n\n  var slugFinal = art.slugArchivo || datos.slug;\n  slugFinal = String(slugFinal).toLowerCase().replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-').replace(/^-|-$/g, '').substring(0, 80);\n\n  return [{\n    json: {\n      valido: true,\n      titulo: String(art.titulo).substring(0, 65),\n      tituloCorto: String(art.tituloCorto || art.titulo).substring(0, 25),\n      metaDescripcion: String(art.metaDescripcion || '').substring(0, 160),\n      keywords: String(art.keywords || 'seguridad privada Mexico'),\n      tiempoLectura: Number(art.tiempoLectura) || 25,\n      subtitulo: String(art.subtitulo || ''),\n      imagenAlt: String(art.imagenAlt || datos.img1.alt),\n      tocItems: Array.isArray(art.tocItems) ? art.tocItems : [],\n      faqs: Array.isArray(art.faqs) ? art.faqs : [],\n      contenidoHTML: String(art.contenido),\n      contenidoLength: art.contenido.length,\n      slug: slugFinal,\n      empresa: datos.empresa,\n      img1: datos.img1,\n      img2: datos.img2,\n      img3: datos.img3\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      valido: false,\n      error: String(err.message)\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 380],
      "id": "validar",
      "name": "Validar"
    },
    {
      "parameters": {
        "conditions": {"boolean": [{"value1": "={{ $json.valido }}", "value2": true}]}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1600, 380],
      "id": "check",
      "name": "Es Valido"
    },
    {
      "parameters": {
        "jsCode": "const a = $input.first().json;\nconst e = a.empresa;\n\nvar tocHTML = '';\nif (a.tocItems && a.tocItems.length > 0) {\n  for (var i = 0; i < a.tocItems.length; i++) {\n    var t = a.tocItems[i];\n    tocHTML = tocHTML + '<li><a href=\"#' + t.id + '\">' + t.titulo + '</a></li>';\n  }\n}\n\nvar imgPath = 'img/seguridad-privada/' + a.img1.archivo;\n\nvar footerHTML = '  <footer class=\"footer\" role=\"contentinfo\">' +\n'    <div class=\"container\">' +\n'      <div class=\"footer-main\">' +\n'        <div class=\"footer-column footer-brand\">' +\n'          <div class=\"footer-logo\">' +\n'            <a href=\"../index.html\">' +\n'              <img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"160\" height=\"36\" style=\"object-fit: contain; filter: brightness(0) invert(1);\">' +\n'            </a>' +\n'          </div>' +\n'          <p class=\"footer-tagline\">Donde los Negocios Mexicanos se Conectan</p>' +\n'          <div class=\"footer-social\">' +\n'            <a href=\"https://linkedin.com/company/origenlab\" target=\"_blank\" rel=\"noopener\" aria-label=\"Siguenos en LinkedIn\" class=\"social-link\">' +\n'              <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"currentColor\" aria-hidden=\"true\">' +\n'                <path d=\"M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z\"/>' +\n'              </svg>' +\n'            </a>' +\n'            <a href=\"https://twitter.com/origenlab_mx\" target=\"_blank\" rel=\"noopener\" aria-label=\"Siguenos en Twitter\" class=\"social-link\">' +\n'              <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"currentColor\" aria-hidden=\"true\">' +\n'                <path d=\"M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z\"></path>' +\n'              </svg>' +\n'            </a>' +\n'            <a href=\"https://facebook.com/origenlab\" target=\"_blank\" rel=\"noopener\" aria-label=\"Siguenos en Facebook\" class=\"social-link\">' +\n'              <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"currentColor\" aria-hidden=\"true\">' +\n'                <path d=\"M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z\"></path>' +\n'              </svg>' +\n'            </a>' +\n'          </div>' +\n'        </div>' +\n'        <div class=\"footer-column\">' +\n'          <h3 class=\"footer-column-title\">Categorias</h3>' +\n'          <ul class=\"footer-links\">' +\n'            <li><a href=\"../categorias/eventos.html\">Eventos Corporativos</a></li>' +\n'            <li><a href=\"../categorias/fiestas-infantiles.html\">Fiestas Infantiles</a></li>' +\n'            <li><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></li>' +\n'            <li><a href=\"../categorias/equipo-contra-incendios.html\">Equipo Contra Incendios</a></li>' +\n'          </ul>' +\n'        </div>' +\n'        <div class=\"footer-column\">' +\n'          <h3 class=\"footer-column-title\">Empresa</h3>' +\n'          <ul class=\"footer-links\">' +\n'            <li><a href=\"../index.html#por-que-origenlab\">Acerca de OrigenLab</a></li>' +\n'            <li><a href=\"../index.html#registrar-empresa\">Contacto</a></li>' +\n'            <li><a href=\"../blog.html\">Blog</a></li>' +\n'            <li><a href=\"../index.html#recursos\">Trabaja con Nosotros</a></li>' +\n'          </ul>' +\n'        </div>' +\n'        <div class=\"footer-column\">' +\n'          <h3 class=\"footer-column-title\">Para Empresas</h3>' +\n'          <ul class=\"footer-links\">' +\n'            <li><a href=\"../index.html#registrar-empresa\">Registrar Empresa</a></li>' +\n'            <li><a href=\"../index.html#planes-premium\">Planes Premium</a></li>' +\n'            <li><a href=\"../index.html#recursos\">Soluciones B2B</a></li>' +\n'            <li><a href=\"../index.html#recursos\">API Empresarial</a></li>' +\n'          </ul>' +\n'        </div>' +\n'        <div class=\"footer-column\">' +\n'          <h3 class=\"footer-column-title\">Recursos</h3>' +\n'          <ul class=\"footer-links\">' +\n'            <li><a href=\"../index.html#recursos\">Centro de Ayuda</a></li>' +\n'            <li><a href=\"../index.html#por-que-origenlab\">Guias B2B</a></li>' +\n'            <li><a href=\"../index.html#registrar-empresa\">Webinars</a></li>' +\n'            <li><a href=\"../index.html#recursos\">Reportes</a></li>' +\n'          </ul>' +\n'        </div>' +\n'        <div class=\"footer-column\">' +\n'          <h3 class=\"footer-column-title\">Legal</h3>' +\n'          <ul class=\"footer-links\">' +\n'            <li><a href=\"../index.html#recursos\">Aviso de Privacidad</a></li>' +\n'            <li><a href=\"../index.html#recursos\">Terminos y Condiciones</a></li>' +\n'            <li><a href=\"../index.html#recursos\">Politica de Cookies</a></li>' +\n'            <li><a href=\"../index.html#recursos\">Cumplimiento</a></li>' +\n'          </ul>' +\n'        </div>' +\n'      </div>' +\n'      <div class=\"footer-bottom\">' +\n'        <p class=\"footer-copyright\">' +\n'          2025 OrigenLab. Todos los derechos reservados. Hecho con amor en Mexico.' +\n'        </p>' +\n'        <div class=\"footer-certifications\">' +\n'          <span class=\"footer-cert\">SSL Seguro</span>' +\n'          <span class=\"footer-cert\">Datos Verificados SAT</span>' +\n'          <span class=\"footer-cert\">100% Mexicano</span>' +\n'        </div>' +\n'      </div>' +\n'    </div>' +\n'  </footer>';\n\nvar html = '<!DOCTYPE html>' +\n'<html lang=\"es-MX\">' +\n'<head>' +\n'  <meta charset=\"UTF-8\">' +\n'  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">' +\n'  <title>' + a.titulo + ' | OrigenLab</title>' +\n'  <meta name=\"description\" content=\"' + a.metaDescripcion + '\">' +\n'  <meta name=\"keywords\" content=\"' + a.keywords + '\">' +\n'  <meta name=\"robots\" content=\"index, follow\">' +\n'  <meta property=\"og:type\" content=\"article\">' +\n'  <meta property=\"og:url\" content=\"https://origenlab.com/blog/' + a.slug + '.html\">' +\n'  <meta property=\"og:title\" content=\"' + a.titulo + '\">' +\n'  <meta property=\"og:description\" content=\"' + a.metaDescripcion + '\">' +\n'  <meta property=\"og:image\" content=\"https://origenlab.com/' + imgPath + '\">' +\n'  <link rel=\"canonical\" href=\"https://origenlab.com/blog/' + a.slug + '.html\">' +\n'  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">' +\n'  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>' +\n'  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap\" rel=\"stylesheet\">' +\n'  <link rel=\"stylesheet\" href=\"../css/minimal-global.css\">' +\n'  <link rel=\"stylesheet\" href=\"../css/style.css\">' +\n'  <link rel=\"stylesheet\" href=\"../css/cta-global.css\">' +\n'  <link rel=\"stylesheet\" href=\"assets/css/blog.css\">' +\n'  <link rel=\"stylesheet\" href=\"assets/css/article.css\">' +\n'  <script type=\"application/ld+json\">' +\n'  {\"@context\":\"https://schema.org\",\"@type\":\"Article\",\"headline\":\"' + a.titulo + '\",\"description\":\"' + a.metaDescripcion + '\",\"image\":\"https://origenlab.com/' + imgPath + '\",\"author\":{\"@type\":\"Organization\",\"name\":\"OrigenLab\"},\"publisher\":{\"@type\":\"Organization\",\"name\":\"OrigenLab\"}}' +\n'  </script>' +\n'</head>' +\n'<body>' +\n'' +\n'  <header class=\"header\">' +\n'    <div class=\"container\">' +\n'      <div class=\"nav-wrapper\">' +\n'        <a href=\"../index.html\" class=\"logo\"><img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"180\" height=\"40\"></a>' +\n'        <nav>' +\n'          <a href=\"../categorias/categorias.html\" class=\"nav-link\">Categorias</a>' +\n'          <a href=\"../blog.html\" class=\"nav-link active\">Blog</a>' +\n'        </nav>' +\n'      </div>' +\n'    </div>' +\n'  </header>' +\n'' +\n'  <div class=\"breadcrumbs-wrapper\">' +\n'    <div class=\"container\">' +\n'      <nav aria-label=\"Breadcrumb\" class=\"breadcrumbs\">' +\n'        <ol>' +\n'          <li><a href=\"../index.html\">Inicio</a></li>' +\n'          <li><a href=\"../blog.html\">Blog</a></li>' +\n'          <li><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></li>' +\n'          <li aria-current=\"page\">' + a.tituloCorto + '</li>' +\n'        </ol>' +\n'      </nav>' +\n'    </div>' +\n'  </div>' +\n'' +\n'  <article class=\"article-container\">' +\n'    <div class=\"container\" style=\"max-width: 1400px; padding: var(--space-xl) var(--space-md);\">' +\n'' +\n'      <header class=\"article-header\">' +\n'        <div class=\"article-header-image\">' +\n'          <figure class=\"article-featured-image\">' +\n'            <img src=\"../' + imgPath + '\" alt=\"' + a.imagenAlt + '\" loading=\"eager\" width=\"800\" height=\"450\">' +\n'          </figure>' +\n'        </div>' +\n'        <div class=\"article-header-content\">' +\n'          <div class=\"article-category-badge\"><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></div>' +\n'          <h1 class=\"article-title\">' + a.titulo + '</h1>' +\n'          <p class=\"article-subtitle\">' + a.subtitulo + '</p>' +\n'          <div class=\"article-meta-info\">' +\n'            <span class=\"article-reading-time\">' + a.tiempoLectura + ' min de lectura</span>' +\n'          </div>' +\n'        </div>' +\n'      </header>' +\n'' +\n'      <div class=\"article-layout\">' +\n'        <div class=\"article-content\">' +\n'          <nav class=\"article-toc\">' +\n'            <h2>Contenido del Articulo</h2>' +\n'            <ol>' + tocHTML + '</ol>' +\n'          </nav>' +\n'' +\n'          ' + a.contenidoHTML + '' +\n'' +\n'          <div class=\"article-cta\">' +\n'            <h3>Buscas Seguridad Privada Profesional?</h3>' +\n'            <p>Conoce a ' + e.nombre + ' y obten una cotizacion personalizada</p>' +\n'            <a href=\"../categorias/seguridad-privada/' + e.slugPerfil + '.html\" class=\"btn-primary\">Ver Perfil de ' + e.nombre + '</a>' +\n'          </div>' +\n'        </div>' +\n'' +\n'        <aside class=\"article-sidebar\">' +\n'          <div class=\"sidebar-widget sidebar-empresa\">' +\n'            <h3 class=\"sidebar-widget-title\">Empresa Destacada</h3>' +\n'            <div class=\"empresa-card-mini\">' +\n'              <h4>' + e.nombre + '</h4>' +\n'              <div class=\"empresa-rating\">' + e.rating + '/5 (' + e.resenas + ' resenas)</div>' +\n'              <p>' + e.especialidad + '</p>' +\n'              <a href=\"../categorias/seguridad-privada/' + e.slugPerfil + '.html\" class=\"btn-primary\" style=\"width:100%;text-align:center;margin-top:1rem;\">Ver Perfil</a>' +\n'            </div>' +\n'          </div>' +\n'          <div class=\"sidebar-widget\">' +\n'            <h3 class=\"sidebar-widget-title\">Mas Empresas</h3>' +\n'            <a href=\"../categorias/seguridad-privada.html\" class=\"btn-secondary\" style=\"width:100%;text-align:center;\">Ver Todas</a>' +\n'          </div>' +\n'        </aside>' +\n'      </div>' +\n'' +\n'    </div>' +\n'  </article>' +\n'' +\n'  <section class=\"cta-section\">' +\n'    <div class=\"container\" style=\"max-width: 800px;\">' +\n'      <h2>Necesitas Seguridad Privada en Mexico?</h2>' +\n'      <p>Encuentra proveedores verificados y certificados</p>' +\n'      <div class=\"cta-botones\">' +\n'        <a href=\"../categorias/seguridad-privada.html\" class=\"btn-primary\">Ver Empresas</a>' +\n'        <a href=\"../blog.html\" class=\"btn-secondary\">Mas Articulos</a>' +\n'      </div>' +\n'    </div>' +\n'  </section>' +\n'' +\n footerHTML +\n'' +\n'</body>' +\n'</html>';\n\nvar htmlBase64 = Buffer.from(html, 'utf-8').toString('base64');\n\nreturn [{\n  json: {\n    htmlBase64: htmlBase64,\n    ruta: 'blog/' + a.slug + '.html',\n    titulo: a.titulo,\n    extracto: a.metaDescripcion,\n    tiempoLectura: a.tiempoLectura,\n    slug: a.slug,\n    imgPrincipal: a.img1.archivo,\n    empresaNombre: e.nombre,\n    empresaSlug: e.slugPerfil,\n    keywords: a.keywords,\n    contenidoLength: a.contenidoLength\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 280],
      "id": "html",
      "name": "Construir HTML"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/Origenlab/ORIGENLAB/contents/{{ $json.ruta }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 280],
      "id": "github-check",
      "name": "Check File Exists",
      "credentials": {"githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}},
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var htmlData = $('Construir HTML').first().json;\nvar checkResult = $input.first().json;\n\nvar fileSha = '';\nif (checkResult && checkResult.sha && typeof checkResult.sha === 'string') {\n  fileSha = checkResult.sha;\n}\n\nreturn [{\n  json: {\n    htmlBase64: htmlData.htmlBase64,\n    ruta: htmlData.ruta,\n    titulo: htmlData.titulo,\n    extracto: htmlData.extracto,\n    tiempoLectura: htmlData.tiempoLectura,\n    slug: htmlData.slug,\n    imgPrincipal: htmlData.imgPrincipal,\n    empresaNombre: htmlData.empresaNombre,\n    empresaSlug: htmlData.empresaSlug,\n    keywords: htmlData.keywords,\n    contenidoLength: htmlData.contenidoLength,\n    faqCount: htmlData.faqCount,\n    fileSha: fileSha\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 280],
      "id": "prepare-upload",
      "name": "Preparar Upload"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Origenlab/ORIGENLAB/contents/{{ $json.ruta }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"feat(blog): {{ $json.empresaNombre }} - {{ $json.titulo }}\",\n  \"content\": \"{{ $json.htmlBase64 }}\",\n  \"branch\": \"main\"{{ $json.fileSha ? ', \"sha\": \"' + $json.fileSha + '\"' : '' }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 280],
      "id": "github-upload",
      "name": "GitHub Upload",
      "credentials": {"githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}}
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Origenlab/ORIGENLAB/contents/blog/data/articulos.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2720, 280],
      "id": "github-get-json",
      "name": "Get articulos.json",
      "credentials": {"githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}}
    },
    {
      "parameters": {
        "jsCode": "var artData = $('Preparar Upload').first().json;\nvar fileData = $input.first().json;\n\nvar articulos = {version: '3.0', articulos: []};\n\ntry {\n  var decoded = Buffer.from(fileData.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n  articulos = JSON.parse(decoded);\n} catch (e) {\n  articulos = {version: '3.0', articulos: []};\n}\n\nvar nuevo = {\n  id: artData.slug,\n  titulo: artData.titulo,\n  slug: artData.slug,\n  categoria: 'seguridad-privada',\n  categoriaNombre: 'Seguridad Privada',\n  extracto: artData.extracto,\n  imagen: 'img/seguridad-privada/' + artData.imgPrincipal,\n  tiempoLectura: artData.tiempoLectura,\n  destacado: false,\n  n8n: true,\n  version: '8.9',\n  empresa: artData.empresaNombre,\n  empresaSlug: artData.empresaSlug,\n  keywords: artData.keywords,\n  contenidoLength: artData.contenidoLength,\n  faqCount: artData.faqCount\n};\n\nvar existingIndex = -1;\nfor (var i = 0; i < articulos.articulos.length; i++) {\n  if (articulos.articulos[i].id === nuevo.id) {\n    existingIndex = i;\n    break;\n  }\n}\n\nif (existingIndex >= 0) {\n  articulos.articulos[existingIndex] = nuevo;\n} else {\n  articulos.articulos.unshift(nuevo);\n}\n\nvar jsonBase64 = Buffer.from(JSON.stringify(articulos, null, 2), 'utf-8').toString('base64');\n\nreturn [{\n  json: {\n    jsonBase64: jsonBase64,\n    sha: fileData.sha,\n    slug: artData.slug,\n    titulo: artData.titulo,\n    empresaNombre: artData.empresaNombre,\n    contenidoLength: artData.contenidoLength,\n    faqCount: artData.faqCount,\n    total: articulos.articulos.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2940, 280],
      "id": "update-json",
      "name": "Update JSON"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Origenlab/ORIGENLAB/contents/blog/data/articulos.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"feat(blog): update articulos.json - {{ $json.empresaNombre }}\",\n  \"content\": \"{{ $json.jsonBase64 }}\",\n  \"sha\": \"{{ $json.sha }}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3160, 280],
      "id": "github-update-json",
      "name": "GitHub Update JSON",
      "credentials": {"githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}}
    },
    {
      "parameters": {
        "jsCode": "var data = $('Update JSON').first().json;\n\nvar mensaje = 'ARTICULO v8.9 PUBLICADO' + '\\n\\n' +\n  'Empresa: ' + data.empresaNombre + '\\n' +\n  'Titulo: ' + data.titulo + '\\n\\n' +\n  'Contenido: ' + data.contenidoLength + ' chars' + '\\n' +\n  'FAQs: ' + data.faqCount + '\\n' +\n  'Total: ' + data.total + ' articulos' + '\\n\\n' +\n  'URL: https://origenlab.com/blog/' + data.slug + '.html';\n\nreturn [{\n  json: {\n    mensaje: mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 280],
      "id": "preparar-mensaje",
      "name": "Preparar Mensaje"
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3600, 280],
      "id": "telegram",
      "name": "Telegram Exito",
      "credentials": {"telegramApi": {"id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "=ERROR v8.9: {{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1840, 500],
      "id": "telegram-error",
      "name": "Telegram Error",
      "credentials": {"telegramApi": {"id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "Cada 2 Dias 9AM": {"main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]},
    "Ejecucion Manual": {"main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]},
    "Seleccionar Empresa": {"main": [[{"node": "Construir Prompt", "type": "main", "index": 0}]]},
    "Construir Prompt": {"main": [[{"node": "OpenAI GPT-4o", "type": "main", "index": 0}]]},
    "OpenAI GPT-4o": {"main": [[{"node": "Validar", "type": "main", "index": 0}]]},
    "Validar": {"main": [[{"node": "Es Valido", "type": "main", "index": 0}]]},
    "Es Valido": {"main": [[{"node": "Construir HTML", "type": "main", "index": 0}], [{"node": "Telegram Error", "type": "main", "index": 0}]]},
    "Construir HTML": {"main": [[{"node": "Check File Exists", "type": "main", "index": 0}]]},
    "Check File Exists": {"main": [[{"node": "Preparar Upload", "type": "main", "index": 0}]]},
    "Preparar Upload": {"main": [[{"node": "GitHub Upload", "type": "main", "index": 0}]]},
    "GitHub Upload": {"main": [[{"node": "Get articulos.json", "type": "main", "index": 0}]]},
    "Get articulos.json": {"main": [[{"node": "Update JSON", "type": "main", "index": 0}]]},
    "Update JSON": {"main": [[{"node": "GitHub Update JSON", "type": "main", "index": 0}]]},
    "GitHub Update JSON": {"main": [[{"node": "Preparar Mensaje", "type": "main", "index": 0}]]},
    "Preparar Mensaje": {"main": [[{"node": "Telegram Exito", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "blog"}, {"name": "v8.9"}, {"name": "final"}]
}
