.audit/n8n-workflows/origenlab-blog-generator-v6.json
{
  "name": "OrigenLab - Blog Generator v6.0 (Multi-Categoría)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "daysInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [480, 300],
      "id": "schedule-trigger",
      "name": "Cada 3 Días"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [480, 480],
      "id": "manual-trigger",
      "name": "Ejecución Manual"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// ORIGENLAB BLOG GENERATOR v6.0 - MULTI-CATEGORÍA\n// =====================================================\n\nconst categorias = {\n  'seguridad-privada': {\n    nombre: 'Seguridad Privada',\n    empresas: [\n      {\n        id: 'origins-security',\n        nombre: 'ORIGINS Private Security',\n        slugPerfil: 'seguridad-condominios-cdmx',\n        especialidad: 'Seguridad para Condominios',\n        ubicacion: 'CDMX y Estado de México',\n        experiencia: '15+ años',\n        rating: 4.9,\n        servicios: ['Guardias certificados SSC', 'Monitoreo GPS 24/7', 'Respuesta en 3 min'],\n        diferenciador: 'Respuesta en menos de 3 minutos'\n      },\n      {\n        id: 'seprico',\n        nombre: 'SEPRICO',\n        slugPerfil: 'seguridad-condominios-seprico',\n        especialidad: 'Seguridad Especializada',\n        ubicacion: 'CDMX - Polanco',\n        experiencia: '12+ años',\n        rating: 4.8,\n        servicios: ['Vigilancia 24/7', 'Control biométrico', 'Monitoreo electrónico'],\n        diferenciador: 'Evaluación gratuita'\n      },\n      {\n        id: 'seguridad-eventos',\n        nombre: 'Seguridad para Eventos',\n        slugPerfil: 'seguridad-eventos-profesional',\n        especialidad: 'Seguridad para Eventos',\n        ubicacion: 'CDMX - Santa Fe',\n        experiencia: '15+ años',\n        rating: 4.9,\n        servicios: ['Control acceso eventos', 'Seguridad VIP', 'Gestión multitudes'],\n        diferenciador: 'Especialistas en conciertos'\n      }\n    ],\n    imagenes: [\n      'control-acceso-residencial-caseta.webp',\n      'guardia-caseta-entrada-residencial.webp',\n      'monitoreo-camaras-vigilancia-24hrs.webp',\n      'central-monitoreo-seguridad-remota.webp',\n      'seguridad-eventos-alfombra-roja.webp',\n      'guardias-seguridad-corporativa-edificio.webp'\n    ]\n  },\n  'eventos': {\n    nombre: 'Eventos Corporativos',\n    empresas: [\n      {\n        id: 'redeil',\n        nombre: 'Redeil Audio e Iluminación',\n        slugPerfil: 'redeil',\n        especialidad: 'Audio e Iluminación LED',\n        ubicacion: 'CDMX',\n        experiencia: '10+ años',\n        rating: 4.9,\n        servicios: ['Audio profesional', 'Cabezas móviles', 'Iluminación LED'],\n        diferenciador: 'Bodega propia con 200+ equipos'\n      },\n      {\n        id: 'podiumex',\n        nombre: 'Podiumex',\n        slugPerfil: 'podiumex',\n        especialidad: 'Renta de Podiums',\n        ubicacion: 'CDMX',\n        experiencia: '8+ años',\n        rating: 4.8,\n        servicios: ['Podiums acrílico', 'Podiums madera', 'Personalización'],\n        diferenciador: 'Entrega e instalación incluida'\n      }\n    ],\n    imagenes: [\n      'renta-de-cabezas-moviles.webp',\n      'renta-de-luces-laser.webp',\n      'luces-cascadas-led.webp',\n      'proyeccion-de-gobo.webp',\n      'seguidor-de-luz.webp'\n    ]\n  },\n  'equipo-contra-incendios': {\n    nombre: 'Equipo Contra Incendios',\n    empresas: [\n      {\n        id: 'gama-mexico',\n        nombre: 'Gama de México',\n        slugPerfil: 'gama-de-mexico',\n        especialidad: 'Extintores y Sistemas',\n        ubicacion: 'CDMX',\n        experiencia: '20+ años',\n        rating: 4.9,\n        servicios: ['Extintores', 'Sistemas supresión', 'Mantenimiento NOM'],\n        diferenciador: 'Certificación NOM completa'\n      },\n      {\n        id: 'meseci',\n        nombre: 'MESECI',\n        slugPerfil: 'meseci',\n        especialidad: 'Protección Contra Incendios',\n        ubicacion: 'CDMX',\n        experiencia: '15+ años',\n        rating: 4.8,\n        servicios: ['Extintores', 'Gabinetes', 'Señalización'],\n        diferenciador: 'Respuesta inmediata'\n      }\n    ],\n    imagenes: [\n      'empresas/extintores-premium.webp',\n      'empresas/fire-protection-mx.webp',\n      'empresas/gabinetes-mangueras.webp',\n      'guia-equipos-contra-incendios.webp',\n      'analisis-riesgos-incendio.webp'\n    ]\n  }\n};\n\nconst enfoques = [\n  { tipo: 'resena', prefijo: 'Reseña Completa' },\n  { tipo: 'caso-exito', prefijo: 'Caso de Éxito' },\n  { tipo: 'guia', prefijo: 'Guía de Servicios' }\n];\n\n// Seleccionar categoría aleatoria\nconst catKeys = Object.keys(categorias);\nconst catKey = catKeys[Math.floor(Math.random() * catKeys.length)];\nconst cat = categorias[catKey];\n\n// Seleccionar empresa aleatoria\nconst empresa = cat.empresas[Math.floor(Math.random() * cat.empresas.length)];\nconst enfoque = enfoques[Math.floor(Math.random() * enfoques.length)];\n\n// Seleccionar imágenes\nconst shuffledImgs = [...cat.imagenes].sort(() => Math.random() - 0.5);\nconst slugArticulo = `${empresa.id}-${enfoque.tipo}-${Date.now()}`.substring(0, 60);\n\nreturn {\n  categoria: catKey,\n  categoriaNombre: cat.nombre,\n  empresa: empresa,\n  enfoque: enfoque,\n  slugArticulo: slugArticulo,\n  tituloArticulo: `${enfoque.prefijo}: ${empresa.nombre}`,\n  imagenPrincipal: shuffledImgs[0],\n  imagenesContenido: [shuffledImgs[1] || shuffledImgs[0], shuffledImgs[2] || shuffledImgs[0]],\n  urlPerfil: `https://origenlab.com/categorias/${catKey}/${empresa.slugPerfil}.html`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380],
      "id": "selector-empresa",
      "name": "Seleccionar Empresa"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst e = d.empresa;\nconst f = d.enfoque;\n\nconst prompt = `Genera un artículo SEO profesional para el blog de OrigenLab.\n\n**EMPRESA:**\n- Nombre: ${e.nombre}\n- Especialidad: ${e.especialidad}\n- Ubicación: ${e.ubicacion}\n- Experiencia: ${e.experiencia}\n- Rating: ${e.rating}/5\n- Servicios: ${e.servicios.join(', ')}\n- Diferenciador: ${e.diferenciador}\n- URL perfil: ${d.urlPerfil}\n\n**TIPO DE CONTENIDO:** ${f.prefijo}\n**CATEGORÍA:** ${d.categoriaNombre}\n\n**REGLAS CRÍTICAS:**\n1. NO incluir años (2024, 2025, etc.) en títulos ni contenido\n2. Mencionar México/CDMX al menos 5 veces\n3. Incluir link al perfil: <a href=\"../categorias/${d.categoria}/${e.slugPerfil}.html\">${e.nombre}</a>\n4. Contenido profesional y creíble\n\n**ESTRUCTURA HTML REQUERIDA:**\n1. <p class=\"article-lead\">Introducción impactante</p>\n2. <section class=\"article-section\" id=\"sobre-empresa\"><h2>Sobre ${e.nombre}</h2>...</section>\n3. <section class=\"article-section\" id=\"servicios\"><h2>Servicios Destacados</h2>...</section>\n4. <section class=\"article-section\" id=\"beneficios\"><h2>Por Qué Elegir ${e.nombre}</h2>...</section>\n5. <section class=\"article-section\" id=\"testimonios\"><h2>Lo Que Dicen los Clientes</h2>...</section>\n6. <section class=\"article-section\" id=\"contacto\"><h2>Cómo Contactar</h2>...</section>\n\n**ELEMENTOS ESPECIALES (incluir 1 de cada uno):**\n- <div class=\"article-tip\"><h4>Título</h4><p>Consejo práctico</p></div>\n- <div class=\"article-highlight\"><h4>Datos Clave</h4><p>Estadísticas</p></div>\n\n**RESPONDE ÚNICAMENTE EN JSON:**\n{\n  \"titulo\": \"Título SEO (max 60 chars, SIN AÑOS)\",\n  \"tituloCorto\": \"Para breadcrumbs (max 30 chars)\",\n  \"metaDescripcion\": \"150-160 caracteres para SEO\",\n  \"keywords\": \"keyword1, keyword2, keyword3\",\n  \"tiempoLectura\": 12,\n  \"subtitulo\": \"Subtítulo atractivo\",\n  \"servicioCTA\": \"servicios de X\",\n  \"tocItems\": [\n    {\"id\": \"sobre-empresa\", \"titulo\": \"Sobre la Empresa\"},\n    {\"id\": \"servicios\", \"titulo\": \"Servicios\"},\n    {\"id\": \"beneficios\", \"titulo\": \"Beneficios\"},\n    {\"id\": \"testimonios\", \"titulo\": \"Testimonios\"},\n    {\"id\": \"contacto\", \"titulo\": \"Contacto\"}\n  ],\n  \"contenido\": \"<section class='article-section' id='...'><h2>...</h2><p>...</p></section>...\"\n}`;\n\nreturn {\n  prompt: prompt,\n  ...d\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 380],
      "id": "constructor-prompt",
      "name": "Construir Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Eres un experto en marketing B2B para México. Generas contenido profesional para OrigenLab. Responde SOLO JSON válido.\"},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000,\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 380],
      "id": "openai-request",
      "name": "OpenAI GPT-4",
      "credentials": {
        "openAiApi": {"id": "YOUR_OPENAI_CREDENTIAL_ID", "name": "OpenAI API"}
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst datos = $('Construir Prompt').first().json;\n\ntry {\n  const articulo = JSON.parse(response.choices[0].message.content);\n  \n  if (!articulo.titulo || !articulo.contenido) {\n    throw new Error('Campos requeridos faltantes');\n  }\n\n  return {\n    valido: true,\n    titulo: articulo.titulo,\n    tituloCorto: articulo.tituloCorto || articulo.titulo.substring(0, 30),\n    metaDescripcion: articulo.metaDescripcion,\n    keywords: articulo.keywords,\n    tiempoLectura: articulo.tiempoLectura || 10,\n    subtitulo: articulo.subtitulo || articulo.metaDescripcion,\n    servicioCTA: articulo.servicioCTA || datos.categoriaNombre,\n    tocItems: articulo.tocItems || [],\n    contenidoHTML: articulo.contenido,\n    slugArticulo: datos.slugArticulo,\n    categoria: datos.categoria,\n    categoriaNombre: datos.categoriaNombre,\n    imagenPrincipal: datos.imagenPrincipal,\n    imagenesContenido: datos.imagenesContenido,\n    empresa: datos.empresa,\n    urlPerfil: datos.urlPerfil\n  };\n} catch (e) {\n  return {\n    valido: false,\n    error: e.message,\n    rawResponse: response\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 380],
      "id": "procesar-respuesta",
      "name": "Procesar Respuesta"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.valido }}", "value2": true}]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1600, 380],
      "id": "verificar-valido",
      "name": "¿Válido?"
    },
    {
      "parameters": {
        "jsCode": "const a = $input.first().json;\n\n// Construir TOC HTML\nconst tocHTML = a.tocItems.map(item => \n  `<li><a href=\"#${item.id}\">${item.titulo}</a></li>`\n).join('\\n              ');\n\n// Construir imagen path\nconst imgPath = `img/${a.categoria}/${a.imagenPrincipal}`;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es-MX\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n  <!-- SEO Meta Tags -->\n  <title>${a.titulo} | OrigenLab</title>\n  <meta name=\"description\" content=\"${a.metaDescripcion}\">\n  <meta name=\"keywords\" content=\"${a.keywords}\">\n  <meta name=\"author\" content=\"OrigenLab\">\n  <meta name=\"robots\" content=\"index, follow\">\n\n  <!-- Open Graph -->\n  <meta property=\"og:type\" content=\"article\">\n  <meta property=\"og:url\" content=\"https://origenlab.com/blog/${a.slugArticulo}.html\">\n  <meta property=\"og:title\" content=\"${a.titulo} | OrigenLab\">\n  <meta property=\"og:description\" content=\"${a.metaDescripcion}\">\n  <meta property=\"og:image\" content=\"https://origenlab.com/${imgPath}\">\n  <meta property=\"og:locale\" content=\"es_MX\">\n\n  <!-- Twitter Card -->\n  <meta name=\"twitter:card\" content=\"summary_large_image\">\n  <meta name=\"twitter:url\" content=\"https://origenlab.com/blog/${a.slugArticulo}.html\">\n  <meta name=\"twitter:title\" content=\"${a.titulo}\">\n  <meta name=\"twitter:description\" content=\"${a.metaDescripcion}\">\n  <meta name=\"twitter:image\" content=\"https://origenlab.com/${imgPath}\">\n\n  <!-- Canonical URL -->\n  <link rel=\"canonical\" href=\"https://origenlab.com/blog/${a.slugArticulo}.html\">\n\n  <!-- Fonts -->\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap\" rel=\"stylesheet\">\n\n  <!-- Stylesheets -->\n  <link rel=\"stylesheet\" href=\"../css/minimal-global.css\">\n  <link rel=\"stylesheet\" href=\"../css/style.css\">\n  <link rel=\"stylesheet\" href=\"../css/cta-global.css\">\n  <link rel=\"stylesheet\" href=\"assets/css/blog.css\">\n  <link rel=\"stylesheet\" href=\"assets/css/article.css\">\n\n  <!-- Schema.org -->\n  <script type=\"application/ld+json\">\n  {\n    \"@context\": \"https://schema.org\",\n    \"@type\": \"BlogPosting\",\n    \"headline\": \"${a.titulo}\",\n    \"description\": \"${a.metaDescripcion}\",\n    \"image\": \"https://origenlab.com/${imgPath}\",\n    \"author\": {\"@type\": \"Organization\", \"name\": \"OrigenLab\"},\n    \"publisher\": {\"@type\": \"Organization\", \"name\": \"OrigenLab\"},\n    \"inLanguage\": \"es-MX\",\n    \"articleSection\": \"${a.categoriaNombre}\"\n  }\n  </script>\n</head>\n\n<body>\n\n  <!-- Header -->\n  <header class=\"header\">\n    <div class=\"container\">\n      <div class=\"nav-wrapper\">\n        <a href=\"../index.html\" class=\"logo\">\n          <img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"180\" height=\"40\">\n        </a>\n        <nav>\n          <a href=\"../categorias/categorias.html\" class=\"nav-link\">Categorías</a>\n          <a href=\"../blog.html\" class=\"nav-link active\">Blog</a>\n        </nav>\n      </div>\n    </div>\n  </header>\n\n  <!-- Breadcrumbs -->\n  <div class=\"breadcrumbs-wrapper\">\n    <div class=\"container\">\n      <nav aria-label=\"Breadcrumb\" class=\"breadcrumbs\">\n        <ol>\n          <li><a href=\"../index.html\">Inicio</a></li>\n          <li><a href=\"../blog.html\">Blog</a></li>\n          <li><a href=\"../categorias/${a.categoria}.html\">${a.categoriaNombre}</a></li>\n          <li aria-current=\"page\">${a.tituloCorto}</li>\n        </ol>\n      </nav>\n    </div>\n  </div>\n\n  <!-- Article -->\n  <article class=\"article-container\">\n    <div class=\"container\" style=\"max-width: 1400px; padding: var(--space-xl) var(--space-md);\">\n\n      <header class=\"article-header\">\n        <div class=\"article-header-image\">\n          <figure class=\"article-featured-image\">\n            <img src=\"../${imgPath}\" alt=\"${a.titulo}\" loading=\"lazy\">\n          </figure>\n        </div>\n        <div class=\"article-header-content\">\n          <div class=\"article-category-badge\">\n            <a href=\"../categorias/${a.categoria}.html\">${a.categoriaNombre}</a>\n          </div>\n          <h1 class=\"article-title\">${a.titulo}</h1>\n          <p class=\"article-subtitle\">${a.subtitulo}</p>\n          <div class=\"article-meta-info\">\n            <span class=\"article-reading-time\">⏱ ${a.tiempoLectura} min lectura</span>\n          </div>\n        </div>\n      </header>\n\n      <div class=\"article-layout\">\n        <div class=\"article-content\">\n          <nav class=\"article-toc\">\n            <h2>Contenido del artículo</h2>\n            <ol>\n              ${tocHTML}\n            </ol>\n          </nav>\n\n          ${a.contenidoHTML}\n\n          <div class=\"article-cta\">\n            <h3>¿Buscas ${a.servicioCTA}?</h3>\n            <p>Encuentra proveedores verificados de ${a.categoriaNombre} en nuestro directorio</p>\n            <a href=\"../categorias/${a.categoria}.html\" class=\"btn-primary\">Ver Proveedores Verificados</a>\n          </div>\n        </div>\n\n        <aside class=\"article-sidebar\">\n          <div class=\"sidebar-widget\">\n            <h3 class=\"sidebar-widget-title\">Proveedores Verificados</h3>\n            <a href=\"../categorias/${a.categoria}.html\" class=\"btn-primary\" style=\"width: 100%; text-align: center;\">Ver Empresas de ${a.categoriaNombre}</a>\n          </div>\n          <div class=\"sidebar-widget sidebar-newsletter\">\n            <h3 class=\"sidebar-widget-title\">Newsletter</h3>\n            <p class=\"newsletter-description\">Recibe guías de ${a.categoriaNombre} cada semana</p>\n            <form class=\"newsletter-form\">\n              <input type=\"email\" placeholder=\"tu@email.com\" class=\"newsletter-input\" required>\n              <button type=\"submit\" class=\"newsletter-btn\">Suscribirme</button>\n            </form>\n          </div>\n        </aside>\n      </div>\n\n    </div>\n  </article>\n\n  <!-- CTA Section -->\n  <section class=\"cta-section\">\n    <div class=\"container\" style=\"max-width: 800px;\">\n      <h2>¿Necesitas servicios de ${a.categoriaNombre}?</h2>\n      <p>Encuentra proveedores verificados con las mejores referencias en México</p>\n      <div class=\"cta-botones\">\n        <a href=\"../categorias/${a.categoria}.html\" class=\"btn-primary\">Ver Proveedores</a>\n        <a href=\"../blog.html\" class=\"btn-secondary\">Más Artículos</a>\n      </div>\n    </div>\n  </section>\n\n  <!-- Footer -->\n  <footer class=\"footer\" role=\"contentinfo\">\n    <div class=\"container\">\n      <div class=\"footer-main\">\n        <div class=\"footer-column footer-brand\">\n          <div class=\"footer-logo\">\n            <a href=\"../index.html\">\n              <img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"160\" height=\"36\" style=\"object-fit: contain; filter: brightness(0) invert(1);\">\n            </a>\n          </div>\n          <p class=\"footer-tagline\">Donde los Negocios Mexicanos se Conectan</p>\n          <div class=\"footer-social\">\n            <a href=\"https://linkedin.com/company/origenlab\" target=\"_blank\" rel=\"noopener\" class=\"social-link\">\n              <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z\"/></svg>\n            </a>\n            <a href=\"https://twitter.com/origenlab_mx\" target=\"_blank\" rel=\"noopener\" class=\"social-link\">\n              <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z\"></path></svg>\n            </a>\n            <a href=\"https://facebook.com/origenlab\" target=\"_blank\" rel=\"noopener\" class=\"social-link\">\n              <svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z\"></path></svg>\n            </a>\n          </div>\n        </div>\n        <div class=\"footer-column\">\n          <h3 class=\"footer-column-title\">Categorías</h3>\n          <ul class=\"footer-links\">\n            <li><a href=\"../categorias/eventos.html\">Eventos Corporativos</a></li>\n            <li><a href=\"../categorias/fiestas-infantiles.html\">Fiestas Infantiles</a></li>\n            <li><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></li>\n            <li><a href=\"../categorias/equipo-contra-incendios.html\">Equipo Contra Incendios</a></li>\n          </ul>\n        </div>\n        <div class=\"footer-column\">\n          <h3 class=\"footer-column-title\">Empresa</h3>\n          <ul class=\"footer-links\">\n            <li><a href=\"../index.html#por-que-origenlab\">Acerca de OrigenLab</a></li>\n            <li><a href=\"../index.html#registrar-empresa\">Contacto</a></li>\n            <li><a href=\"../blog.html\">Blog</a></li>\n            <li><a href=\"../index.html#recursos\">Trabaja con Nosotros</a></li>\n          </ul>\n        </div>\n        <div class=\"footer-column\">\n          <h3 class=\"footer-column-title\">Para Empresas</h3>\n          <ul class=\"footer-links\">\n            <li><a href=\"../index.html#registrar-empresa\">Registrar Empresa</a></li>\n            <li><a href=\"../index.html#planes-premium\">Planes Premium</a></li>\n            <li><a href=\"../index.html#recursos\">Soluciones B2B</a></li>\n            <li><a href=\"../index.html#recursos\">API Empresarial</a></li>\n          </ul>\n        </div>\n        <div class=\"footer-column\">\n          <h3 class=\"footer-column-title\">Recursos</h3>\n          <ul class=\"footer-links\">\n            <li><a href=\"../index.html#recursos\">Centro de Ayuda</a></li>\n            <li><a href=\"../index.html#por-que-origenlab\">Guías B2B</a></li>\n            <li><a href=\"../index.html#registrar-empresa\">Webinars</a></li>\n            <li><a href=\"../index.html#recursos\">Reportes</a></li>\n          </ul>\n        </div>\n        <div class=\"footer-column\">\n          <h3 class=\"footer-column-title\">Legal</h3>\n          <ul class=\"footer-links\">\n            <li><a href=\"../index.html#recursos\">Aviso de Privacidad</a></li>\n            <li><a href=\"../index.html#recursos\">Términos y Condiciones</a></li>\n            <li><a href=\"../index.html#recursos\">Política de Cookies</a></li>\n            <li><a href=\"../index.html#recursos\">Cumplimiento</a></li>\n          </ul>\n        </div>\n      </div>\n      <div class=\"footer-bottom\">\n        <p class=\"footer-copyright\">© 2025 OrigenLab. Todos los derechos reservados. Hecho con <span class=\"heart\">♥</span> en México.</p>\n        <div class=\"footer-certifications\">\n          <span class=\"footer-cert\">🔒 SSL Seguro</span>\n          <span class=\"footer-cert\">✓ Datos Verificados SAT</span>\n          <span class=\"footer-cert\">🇲🇽 100% Mexicano</span>\n        </div>\n      </div>\n    </div>\n  </footer>\n\n</body>\n</html>`;\n\nreturn {\n  htmlArticulo: html,\n  rutaArchivo: `blog/${a.slugArticulo}.html`,\n  titulo: a.titulo,\n  extractoBlog: a.metaDescripcion,\n  tiempoLectura: a.tiempoLectura,\n  slugArticulo: a.slugArticulo,\n  categoria: a.categoria,\n  categoriaNombre: a.categoriaNombre,\n  imagenPrincipal: a.imagenPrincipal,\n  empresaNombre: a.empresa.nombre,\n  urlPerfil: a.urlPerfil\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 280],
      "id": "construir-html",
      "name": "Construir HTML Completo"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "={{$env.GITHUB_OWNER || 'ORIGENLAB'}}",
        "repository": "={{$env.GITHUB_REPO || 'origenlab'}}",
        "filePath": "={{ $json.rutaArchivo }}",
        "fileContent": "={{ $json.htmlArticulo }}",
        "commitMessage": "=feat(blog): {{ $json.empresaNombre }} - {{ $json.titulo }}",
        "additionalParameters": {"branch": "main"}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2060, 280],
      "id": "github-articulo",
      "name": "GitHub - Subir Artículo",
      "credentials": {
        "githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$env.GITHUB_OWNER || 'ORIGENLAB'}}",
        "repository": "={{$env.GITHUB_REPO || 'origenlab'}}",
        "filePath": "blog/data/articulos.json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2280, 280],
      "id": "github-get-json",
      "name": "GitHub - Obtener JSON",
      "credentials": {
        "githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}
      }
    },
    {
      "parameters": {
        "jsCode": "const articulo = $('Construir HTML Completo').first().json;\nconst githubFile = $input.first().json;\n\n// Decodificar JSON actual\nlet jsonData;\ntry {\n  const content = Buffer.from(githubFile.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n  jsonData = JSON.parse(content);\n} catch (e) {\n  jsonData = { version: '1.0', lastUpdated: new Date().toISOString(), articulos: [] };\n}\n\n// Crear nuevo artículo\nconst nuevoArticulo = {\n  id: articulo.slugArticulo,\n  titulo: articulo.titulo,\n  slug: articulo.slugArticulo,\n  categoria: articulo.categoria,\n  categoriaNombre: articulo.categoriaNombre,\n  extracto: articulo.extractoBlog,\n  imagen: `img/${articulo.categoria}/${articulo.imagenPrincipal}`,\n  tiempoLectura: articulo.tiempoLectura,\n  destacado: false,\n  fecha: new Date().toISOString().split('T')[0],\n  n8n: true,\n  empresa: articulo.empresaNombre\n};\n\n// Verificar si ya existe\nconst existe = jsonData.articulos.some(a => a.id === nuevoArticulo.id);\nif (!existe) {\n  jsonData.articulos.unshift(nuevoArticulo);\n  jsonData.lastUpdated = new Date().toISOString();\n}\n\nreturn {\n  jsonActualizado: JSON.stringify(jsonData, null, 2),\n  sha: githubFile.sha,\n  articulo: articulo,\n  nuevoArticulo: nuevoArticulo\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 280],
      "id": "actualizar-json",
      "name": "Actualizar JSON"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$env.GITHUB_OWNER || 'ORIGENLAB'}}",
        "repository": "={{$env.GITHUB_REPO || 'origenlab'}}",
        "filePath": "blog/data/articulos.json",
        "fileContent": "={{ $json.jsonActualizado }}",
        "commitMessage": "=feat(blog): actualizar articulos.json - {{ $json.articulo.empresaNombre }}",
        "additionalParameters": {"branch": "main", "sha": "={{ $json.sha }}"}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2720, 280],
      "id": "github-update-json",
      "name": "GitHub - Actualizar JSON",
      "credentials": {
        "githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}
      }
    },
    {
      "parameters": {
        "jsCode": "const datos = $('Actualizar JSON').first().json;\nconst a = datos.articulo;\n\nreturn {\n  exito: true,\n  empresa: a.empresaNombre,\n  categoria: a.categoriaNombre,\n  titulo: a.titulo,\n  urlArticulo: `https://origenlab.com/blog/${a.slugArticulo}.html`,\n  urlPerfil: a.urlPerfil,\n  tiempoLectura: `${a.tiempoLectura} min`,\n  mensaje: '✅ Artículo publicado y JSON actualizado'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2940, 280],
      "id": "resumen-final",
      "name": "Resumen Final"
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID || '772938445'}}",
        "text": "=✅ *Nuevo Artículo Publicado*\n\n🏢 *{{ $json.empresa }}*\n📂 {{ $json.categoria }}\n📝 {{ $json.titulo }}\n⏱ {{ $json.tiempoLectura }}\n\n🔗 *Artículo:* {{ $json.urlArticulo }}\n🔗 *Perfil:* {{ $json.urlPerfil }}\n\n✅ Blog actualizado automáticamente\n\n🤖 _OrigenLab v6.0_",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3160, 280],
      "id": "telegram-notify",
      "name": "Telegram Notificación",
      "credentials": {
        "telegramApi": {"id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram Bot"}
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  error: true,\n  mensaje: 'Artículo inválido - no se pudo generar',\n  datos: $input.first().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 500],
      "id": "manejar-error",
      "name": "Manejar Error"
    }
  ],
  "connections": {
    "Cada 3 Días": {"main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]},
    "Ejecución Manual": {"main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]},
    "Seleccionar Empresa": {"main": [[{"node": "Construir Prompt", "type": "main", "index": 0}]]},
    "Construir Prompt": {"main": [[{"node": "OpenAI GPT-4", "type": "main", "index": 0}]]},
    "OpenAI GPT-4": {"main": [[{"node": "Procesar Respuesta", "type": "main", "index": 0}]]},
    "Procesar Respuesta": {"main": [[{"node": "¿Válido?", "type": "main", "index": 0}]]},
    "¿Válido?": {"main": [[{"node": "Construir HTML Completo", "type": "main", "index": 0}], [{"node": "Manejar Error", "type": "main", "index": 0}]]},
    "Construir HTML Completo": {"main": [[{"node": "GitHub - Subir Artículo", "type": "main", "index": 0}]]},
    "GitHub - Subir Artículo": {"main": [[{"node": "GitHub - Obtener JSON", "type": "main", "index": 0}]]},
    "GitHub - Obtener JSON": {"main": [[{"node": "Actualizar JSON", "type": "main", "index": 0}]]},
    "Actualizar JSON": {"main": [[{"node": "GitHub - Actualizar JSON", "type": "main", "index": 0}]]},
    "GitHub - Actualizar JSON": {"main": [[{"node": "Resumen Final", "type": "main", "index": 0}]]},
    "Resumen Final": {"main": [[{"node": "Telegram Notificación", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [{"name": "blog"}, {"name": "multi-categoria"}, {"name": "origenlab"}],
  "triggerCount": 2,
  "updatedAt": "2025-01-27T00:00:00.000Z",
  "versionId": "6.0"
}
