.audit/n8n-workflows/seguridad-privada-blog-generator.json
{
  "name": "OrigenLab - Seguridad Privada Reseñas Generator v5.1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "daysInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [480, 300],
      "id": "schedule-trigger",
      "name": "Cada 3 Días"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [480, 480],
      "id": "manual-trigger",
      "name": "Ejecución Manual"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// EMPRESAS DE SEGURIDAD PRIVADA - v5.1\n// =====================================================\n\nconst empresas = [\n  {\n    id: 'origins-security',\n    nombre: 'ORIGINS Private Security',\n    slug: 'origins-private-security',\n    slugPerfil: 'seguridad-condominios-cdmx',\n    especialidad: 'Seguridad para Condominios',\n    ubicacion: 'CDMX y Estado de México',\n    experiencia: '15+ años',\n    rating: 4.9,\n    resenas: 245,\n    servicios: ['Guardias certificados SSC', 'Monitoreo GPS 24/7', 'Respuesta en 3 min', 'Control de accesos'],\n    diferenciador: 'Respuesta en menos de 3 minutos con monitoreo GPS',\n    telefono: '+52-55-3025-5580',\n    email: 'josecruz@originsecurity.mx',\n    imagen: 'control-acceso-residencial-caseta.webp'\n  },\n  {\n    id: 'seguridad-privada-mx',\n    nombre: 'SeguridadPrivadaMX',\n    slug: 'seguridadprivadamx',\n    slugPerfil: 'seguridad-condominios-inteligente',\n    especialidad: 'Seguridad Inteligente',\n    ubicacion: 'CDMX - Benito Juárez',\n    experiencia: '10+ años',\n    rating: 4.9,\n    resenas: 312,\n    servicios: ['Guardias SSC', 'App móvil', 'Cámaras HD', 'Control biométrico'],\n    diferenciador: 'Tecnología propia y cotización en 4 horas',\n    telefono: '+52-55-1234-5678',\n    email: 'contacto@seguridadprivadamx.com',\n    imagen: 'centro-monitoreo-cctv-camaras.webp'\n  },\n  {\n    id: 'seprico',\n    nombre: 'SEPRICO',\n    slug: 'seprico',\n    slugPerfil: 'seguridad-condominios-seprico',\n    especialidad: 'Seguridad Especializada',\n    ubicacion: 'CDMX - Polanco',\n    experiencia: '12+ años',\n    rating: 4.8,\n    resenas: 428,\n    servicios: ['Vigilancia 24/7', 'Control biométrico', 'Monitoreo electrónico'],\n    diferenciador: 'Evaluación gratuita y soluciones personalizadas',\n    telefono: '+52-56-3628-2480',\n    email: 'contacto@seprico.mx',\n    imagen: 'vigilante-fraccionamiento-residencial.webp'\n  },\n  {\n    id: 'seguridad-eventos',\n    nombre: 'Seguridad para Eventos',\n    slug: 'seguridad-eventos',\n    slugPerfil: 'seguridad-eventos-profesional',\n    especialidad: 'Seguridad para Eventos',\n    ubicacion: 'CDMX - Santa Fe',\n    experiencia: '15+ años',\n    rating: 4.9,\n    resenas: 615,\n    servicios: ['Control acceso eventos', 'Seguridad VIP', 'Gestión multitudes'],\n    diferenciador: 'Especialistas en conciertos y congresos',\n    telefono: '+52-55-1234-5600',\n    email: 'contacto@seguridadeventos.com',\n    imagen: 'seguridad-eventos-alfombra-roja.webp'\n  }\n];\n\nconst enfoques = [\n  { tipo: 'resena', prefijo: 'Reseña Completa' },\n  { tipo: 'caso-exito', prefijo: 'Caso de Éxito' },\n  { tipo: 'guia-servicios', prefijo: 'Guía de Servicios' },\n  { tipo: 'opiniones', prefijo: 'Opiniones de Clientes' }\n];\n\nconst imagenesExtra = [\n  'equipo-seguridad-privada-uniforme.webp',\n  'guardias-seguridad-corporativa-edificio.webp',\n  'monitoreo-camaras-vigilancia-24hrs.webp',\n  'operador-videovigilancia-monitores.webp',\n  'control-acceso-vehicular-registro.webp',\n  'caseta-moderna-control-acceso.webp'\n];\n\nconst empresa = empresas[Math.floor(Math.random() * empresas.length)];\nconst enfoque = enfoques[Math.floor(Math.random() * enfoques.length)];\nconst slugArticulo = `${empresa.slug}-${enfoque.tipo}`;\nconst tituloArticulo = `${enfoque.prefijo}: ${empresa.nombre}`;\nconst shuffled = [...imagenesExtra].sort(() => Math.random() - 0.5);\n\nreturn {\n  empresa: empresa,\n  enfoque: enfoque,\n  tituloArticulo: tituloArticulo,\n  slugArticulo: slugArticulo,\n  imagenPrincipal: empresa.imagen,\n  imagenesContenido: [shuffled[0], shuffled[1], shuffled[2]],\n  urlPerfil: `https://origenlab.com/categorias/seguridad-privada/${empresa.slugPerfil}.html`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380],
      "id": "selector-empresa",
      "name": "Seleccionar Empresa"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst e = d.empresa;\nconst f = d.enfoque;\n\nconst prompt = `Escribe una reseña SEO profesional para OrigenLab.\n\n**EMPRESA:** ${e.nombre}\n**Especialidad:** ${e.especialidad}\n**Ubicación:** ${e.ubicacion}\n**Experiencia:** ${e.experiencia}\n**Rating:** ${e.rating}/5 (${e.resenas} reseñas)\n**Servicios:** ${e.servicios.join(', ')}\n**Diferenciador:** ${e.diferenciador}\n**Contacto:** ${e.telefono} | ${e.email}\n\n**TIPO:** ${f.prefijo}\n**URL perfil:** ${d.urlPerfil}\n\n**REGLAS:**\n- Sin fechas ni años\n- Contenido promocional creíble\n- Mencionar CDMX y México 5+ veces\n- CTA al perfil de la empresa\n\n**ESTRUCTURA HTML:**\n1. <p class=\"article-lead\"> intro\n2. <h2>Sobre la Empresa</h2>\n3. <h2>Servicios</h2> con <h3> por servicio\n4. <h2>Opiniones</h2> testimonios\n5. <h2>Por Qué Elegir</h2>\n6. <h2>Contacto</h2> con CTA\n\nMarcadores: {{IMAGEN_1}}, {{IMAGEN_2}}, {{IMAGEN_3}}\n\n**RESPONDE SOLO JSON:**\n{\n  \"titulo\": \"max 55 chars\",\n  \"metaDescripcion\": \"150-160 chars\",\n  \"palabrasClave\": [\"k1\",\"k2\",\"k3\"],\n  \"tiempoLectura\": 10,\n  \"contenido\": \"HTML\",\n  \"extractoBlog\": \"150 chars para card\",\n  \"tocItems\": [\"Sobre\",\"Servicios\",\"Opiniones\",\"Por Qué\",\"Contacto\"]\n}`;\n\nreturn {\n  prompt: prompt,\n  empresa: e,\n  enfoque: f,\n  slugArticulo: d.slugArticulo,\n  imagenPrincipal: d.imagenPrincipal,\n  imagenesContenido: d.imagenesContenido,\n  urlPerfil: d.urlPerfil\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 380],
      "id": "constructor-prompt",
      "name": "Construir Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Eres redactor SEO para OrigenLab. Responde solo JSON válido.\"},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000,\n  \"response_format\": {\"type\": \"json_object\"}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 380],
      "id": "openai-request",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {"id": "YOUR_OPENAI_CREDENTIAL_ID", "name": "OpenAI API"}
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst datos = $('Construir Prompt').first().json;\n\ntry {\n  const articulo = JSON.parse(response.choices[0].message.content);\n  if (!articulo.titulo || !articulo.contenido) throw new Error('Campos faltantes');\n\n  let html = articulo.contenido;\n  const imgs = datos.imagenesContenido;\n  html = html.replace(/\\{\\{IMAGEN_1\\}\\}/g, `<figure class=\"article-image\"><img src=\"../img/seguridad-privada/${imgs[0]}\" alt=\"${articulo.titulo}\" loading=\"lazy\"></figure>`);\n  html = html.replace(/\\{\\{IMAGEN_2\\}\\}/g, `<figure class=\"article-image\"><img src=\"../img/seguridad-privada/${imgs[1]}\" alt=\"Servicios\" loading=\"lazy\"></figure>`);\n  html = html.replace(/\\{\\{IMAGEN_3\\}\\}/g, `<figure class=\"article-image\"><img src=\"../img/seguridad-privada/${imgs[2]}\" alt=\"Seguridad\" loading=\"lazy\"></figure>`);\n\n  return {\n    valido: true,\n    titulo: articulo.titulo,\n    metaDescripcion: articulo.metaDescripcion,\n    palabrasClave: articulo.palabrasClave || [],\n    tiempoLectura: articulo.tiempoLectura || 10,\n    contenidoHTML: html,\n    extractoBlog: articulo.extractoBlog || articulo.metaDescripcion,\n    tocItems: articulo.tocItems || [],\n    slugArticulo: datos.slugArticulo,\n    imagenPrincipal: datos.imagenPrincipal,\n    empresa: datos.empresa,\n    urlPerfil: datos.urlPerfil\n  };\n} catch (e) {\n  return { valido: false, error: e.message };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 380],
      "id": "procesar-respuesta",
      "name": "Procesar Respuesta"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.valido }}", "value2": true}]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1600, 380],
      "id": "verificar-valido",
      "name": "¿Válido?"
    },
    {
      "parameters": {
        "jsCode": "const a = $input.first().json;\n\nconst tocHTML = (a.tocItems || []).map((item, i) => `<li><a href=\"#seccion-${i+1}\">${item}</a></li>`).join('');\nlet contenido = a.contenidoHTML;\nlet secNum = 1;\ncontenido = contenido.replace(/<h2>/g, () => `<h2 id=\"seccion-${secNum++}\">`);\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es-MX\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${a.titulo} | OrigenLab</title>\n  <meta name=\"description\" content=\"${a.metaDescripcion}\">\n  <meta name=\"keywords\" content=\"${a.palabrasClave.join(', ')}, seguridad privada CDMX\">\n  <meta name=\"robots\" content=\"index, follow\">\n  <meta property=\"og:type\" content=\"article\">\n  <meta property=\"og:url\" content=\"https://origenlab.com/blog/${a.slugArticulo}.html\">\n  <meta property=\"og:title\" content=\"${a.titulo}\">\n  <meta property=\"og:description\" content=\"${a.metaDescripcion}\">\n  <meta property=\"og:image\" content=\"https://origenlab.com/img/seguridad-privada/${a.imagenPrincipal}\">\n  <link rel=\"canonical\" href=\"https://origenlab.com/blog/${a.slugArticulo}.html\">\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"../css/minimal-global.css\">\n  <link rel=\"stylesheet\" href=\"../css/style.css\">\n  <link rel=\"stylesheet\" href=\"../css/cta-global.css\">\n  <link rel=\"stylesheet\" href=\"assets/css/blog.css\">\n  <link rel=\"stylesheet\" href=\"assets/css/article.css\">\n  <script type=\"application/ld+json\">{\"@context\":\"https://schema.org\",\"@type\":\"BlogPosting\",\"headline\":\"${a.titulo}\",\"description\":\"${a.metaDescripcion}\",\"image\":\"https://origenlab.com/img/seguridad-privada/${a.imagenPrincipal}\",\"author\":{\"@type\":\"Organization\",\"name\":\"OrigenLab\"},\"inLanguage\":\"es-MX\"}</script>\n</head>\n<body>\n  <header class=\"header\"><div class=\"container\"><div class=\"nav-wrapper\"><a href=\"../index.html\" class=\"logo\"><img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"180\" height=\"40\"></a><nav><a href=\"../categorias/categorias.html\" class=\"nav-link\">Categorías</a><a href=\"../blog.html\" class=\"nav-link active\">Blog</a></nav></div></div></header>\n  <div class=\"breadcrumbs-wrapper\"><div class=\"container\"><nav class=\"breadcrumbs\"><ol><li><a href=\"../index.html\">Inicio</a></li><li><a href=\"../blog.html\">Blog</a></li><li><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></li><li>${a.titulo}</li></ol></nav></div></div>\n  <article class=\"article-container\"><div class=\"container\" style=\"max-width:1400px;padding:40px 20px;\">\n    <header class=\"article-header\"><div class=\"article-header-image\"><figure class=\"article-featured-image\"><img src=\"../img/seguridad-privada/${a.imagenPrincipal}\" alt=\"${a.titulo}\"></figure></div><div class=\"article-header-content\"><div class=\"article-category-badge\"><a href=\"../categorias/seguridad-privada.html\">Seguridad Privada</a></div><h1 class=\"article-title\">${a.titulo}</h1><p class=\"article-subtitle\">${a.metaDescripcion}</p><div class=\"article-meta-info\"><span class=\"article-reading-time\">${a.tiempoLectura} min</span></div></div></header>\n    <div class=\"article-layout\"><div class=\"article-content\"><nav class=\"article-toc\"><h2>Contenido</h2><ol>${tocHTML}</ol></nav>${contenido}<div class=\"article-cta\"><h3>¿Necesitas seguridad privada?</h3><p>Empresas verificadas en México</p><a href=\"../categorias/seguridad-privada.html\" class=\"btn-primary\">Ver Proveedores</a></div></div><aside class=\"article-sidebar\"><div class=\"sidebar-widget\"><h3 class=\"sidebar-widget-title\">Proveedores</h3><a href=\"../categorias/seguridad-privada.html\" class=\"btn-primary\" style=\"width:100%\">Ver Empresas</a></div></aside></div>\n  </div></article>\n  <section class=\"cta-section\"><div class=\"container\" style=\"max-width:800px\"><h2>¿Buscas seguridad privada?</h2><p>Proveedores verificados</p><div class=\"cta-botones\"><a href=\"../categorias/seguridad-privada.html\" class=\"btn-primary\">Ver Proveedores</a><a href=\"../blog.html\" class=\"btn-secondary\">Más Artículos</a></div></div></section>\n  <footer class=\"footer\"><div class=\"container\"><div class=\"footer-main\"><div class=\"footer-column footer-brand\"><a href=\"../index.html\"><img src=\"../img/origenlab.webp\" alt=\"OrigenLab\" width=\"160\" style=\"filter:brightness(0) invert(1)\"></a><p class=\"footer-tagline\">Donde los Negocios se Conectan</p></div></div><div class=\"footer-bottom\"><p class=\"footer-copyright\">© 2025 OrigenLab. México.</p></div></div></footer>\n</body>\n</html>`;\n\nreturn {\n  htmlArticulo: html,\n  rutaArchivo: `blog/${a.slugArticulo}.html`,\n  titulo: a.titulo,\n  extractoBlog: a.extractoBlog,\n  tiempoLectura: a.tiempoLectura,\n  slugArticulo: a.slugArticulo,\n  imagenPrincipal: a.imagenPrincipal,\n  empresaNombre: a.empresa.nombre,\n  urlPerfil: a.urlPerfil\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 280],
      "id": "construir-html",
      "name": "Construir HTML"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "ORIGENLAB",
        "repository": "origenlab",
        "filePath": "={{ $json.rutaArchivo }}",
        "fileContent": "={{ $json.htmlArticulo }}",
        "commitMessage": "=feat(blog): {{ $json.empresaNombre }} - {{ $json.titulo }}",
        "additionalParameters": {"branch": "main"}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2060, 280],
      "id": "github-articulo",
      "name": "GitHub - Subir Artículo",
      "credentials": {
        "githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "ORIGENLAB",
        "repository": "origenlab",
        "filePath": "blog/data/articulos.json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2280, 280],
      "id": "github-get-json",
      "name": "GitHub - Obtener JSON",
      "credentials": {
        "githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}
      }
    },
    {
      "parameters": {
        "jsCode": "const articulo = $('Construir HTML').first().json;\nconst githubFile = $input.first().json;\n\n// Decodificar JSON actual\nlet jsonData;\ntry {\n  const content = Buffer.from(githubFile.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n  jsonData = JSON.parse(content);\n} catch (e) {\n  jsonData = { version: '1.0', lastUpdated: new Date().toISOString(), articulos: [] };\n}\n\n// Crear nuevo artículo\nconst nuevoArticulo = {\n  id: articulo.slugArticulo,\n  titulo: articulo.titulo,\n  slug: articulo.slugArticulo,\n  categoria: 'seguridad-privada',\n  categoriaNombre: 'Seguridad Privada',\n  extracto: articulo.extractoBlog,\n  imagen: `img/seguridad-privada/${articulo.imagenPrincipal}`,\n  tiempoLectura: articulo.tiempoLectura,\n  destacado: false,\n  fecha: new Date().toISOString().split('T')[0],\n  n8n: true,\n  empresa: articulo.empresaNombre\n};\n\n// Verificar si ya existe\nconst existe = jsonData.articulos.some(a => a.id === nuevoArticulo.id);\nif (!existe) {\n  jsonData.articulos.unshift(nuevoArticulo);\n  jsonData.lastUpdated = new Date().toISOString();\n}\n\nreturn {\n  jsonActualizado: JSON.stringify(jsonData, null, 2),\n  sha: githubFile.sha,\n  articulo: articulo,\n  nuevoArticulo: nuevoArticulo\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 280],
      "id": "actualizar-json",
      "name": "Actualizar JSON"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "ORIGENLAB",
        "repository": "origenlab",
        "filePath": "blog/data/articulos.json",
        "fileContent": "={{ $json.jsonActualizado }}",
        "commitMessage": "=feat(blog): actualizar articulos.json - {{ $json.articulo.empresaNombre }}",
        "additionalParameters": {"branch": "main", "sha": "={{ $json.sha }}"}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2720, 280],
      "id": "github-update-json",
      "name": "GitHub - Actualizar JSON",
      "credentials": {
        "githubApi": {"id": "YOUR_GITHUB_CREDENTIAL_ID", "name": "GitHub API"}
      }
    },
    {
      "parameters": {
        "jsCode": "const datos = $('Actualizar JSON').first().json;\nconst a = datos.articulo;\n\nreturn {\n  exito: true,\n  empresa: a.empresaNombre,\n  titulo: a.titulo,\n  urlArticulo: `https://origenlab.com/${a.rutaArchivo}`,\n  urlPerfil: a.urlPerfil,\n  tiempoLectura: `${a.tiempoLectura} min`,\n  mensaje: 'Artículo publicado y JSON actualizado'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2940, 280],
      "id": "resumen-final",
      "name": "Resumen Final"
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "=✅ *Artículo Publicado*\n\n🏢 *{{ $json.empresa }}*\n📝 {{ $json.titulo }}\n⏱ {{ $json.tiempoLectura }}\n\n🔗 {{ $json.urlArticulo }}\n\n✅ Blog actualizado automáticamente\n\n🤖 _OrigenLab v5.1_",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3160, 280],
      "id": "telegram-notify",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {"id": "telegram-origenlab", "name": "Telegram OrigenLab Bot"}
      }
    },
    {
      "parameters": {
        "jsCode": "return { error: 'Artículo inválido', datos: $input.first().json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 500],
      "id": "manejar-error",
      "name": "Error"
    }
  ],
  "connections": {
    "Cada 3 Días": {"main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]},
    "Ejecución Manual": {"main": [[{"node": "Seleccionar Empresa", "type": "main", "index": 0}]]},
    "Seleccionar Empresa": {"main": [[{"node": "Construir Prompt", "type": "main", "index": 0}]]},
    "Construir Prompt": {"main": [[{"node": "OpenAI", "type": "main", "index": 0}]]},
    "OpenAI": {"main": [[{"node": "Procesar Respuesta", "type": "main", "index": 0}]]},
    "Procesar Respuesta": {"main": [[{"node": "¿Válido?", "type": "main", "index": 0}]]},
    "¿Válido?": {"main": [[{"node": "Construir HTML", "type": "main", "index": 0}], [{"node": "Error", "type": "main", "index": 0}]]},
    "Construir HTML": {"main": [[{"node": "GitHub - Subir Artículo", "type": "main", "index": 0}]]},
    "GitHub - Subir Artículo": {"main": [[{"node": "GitHub - Obtener JSON", "type": "main", "index": 0}]]},
    "GitHub - Obtener JSON": {"main": [[{"node": "Actualizar JSON", "type": "main", "index": 0}]]},
    "Actualizar JSON": {"main": [[{"node": "GitHub - Actualizar JSON", "type": "main", "index": 0}]]},
    "GitHub - Actualizar JSON": {"main": [[{"node": "Resumen Final", "type": "main", "index": 0}]]},
    "Resumen Final": {"main": [[{"node": "Telegram", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [{"name": "blog"}, {"name": "seguridad-privada"}],
  "triggerCount": 2,
  "updatedAt": "2024-12-27T00:00:00.000Z",
  "versionId": "5.1"
}
